/*	
*
*/


/******************************** 精灵图 ********************************/

.mi_icon {
	background-color: transparent;
	background-image: url("../images/Sprite_Icon.png");
	background-repeat: no-repeat;
	background-size: initial;
	display: inline-block;
	*zoom: 1;	/*【IE7】*/
	*display: inline;	/*【IE7】*/
}

	.mi_icon.mi_icon_logo {
		background-position: 0px 0px;
		width: 91px;
		height: 46px;
	}

	.mi_icon.mi_icon_red_star_full {
		background-position: -92px 0px;
		width: 13px;
		height: 12px;
	}

	.mi_icon.mi_icon_red_star_half {
		background-position: -92px -13px;
		width: 13px;
		height: 12px;
	}

	.mi_icon.mi_icon_red_star_emt {
		background-position: -92px -26px;
		width: 13px;
		height: 12px;
	}

	.mi_icon.mi_icon_news {
		background-position: -106px 0px;
		width: 31px;
		height: 34px;
	}

	.mi_icon.mi_icon_position_blue {
		background-position: -138px 0px;
		width: 24px;
		height: 42px;
	}

	.mi_icon.mi_icon_position_orange {
		background-position: -163px 0px;
		width: 24px;
		height: 42px;
	}

	.mi_icon.mi_icon_weibo {
		background-position: -188px 0px;
		width: 19px;
		height: 15px;
	}

	.mi_icon.mi_icon_weixin {
		background-position: -188px -16px;
		width: 19px;
		height: 15px;
	}

	.mi_icon.mi_icon_red_heart {
		background-position: -188px -32px;
		width: 13px;
		height: 10px;
	}

	.mi_icon.mi_icon_bm_qq {
		background-position: -208px 0px;
		width: 24px;
		height: 24px;
	}

	.mi_icon.mi_icon_bm_qqweibo {
		background-position: -208px -25px;
		width: 24px;
		height: 24px;
	}

	.mi_icon.mi_icon_bm_qqzone {
		background-position: -233px 0px;
		width: 24px;
		height: 24px;
	}

	.mi_icon.mi_icon_bm_qqweixin {
		background-position: -233px -25px;
		width: 24px;
		height: 24px;
	}

	.mi_icon.mi_icon_bm_email {
		background-position: -233px 0px;
		width: 24px;
		height: 24px;
	}

	.mi_icon.mi_icon_bm_weibo {
		background-position: -233px -25px;
		width: 24px;
		height: 24px;
	}

/*********************************************************************** Over ***********************************************************************/
