/*	
*
*/


/******************************** 本项目的OOCSS ********************************/

/* html */
html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: white;
	font-family: 微软雅黑;
}

/******************************** 共同 ********************************/