/*	
*
*/


/******************************** 精灵图 ********************************/

.mi_icon {
	background-color: transparent;
	background-image: url("../images/Sprite_Icon.png");
	background-repeat: no-repeat;
	background-size: initial;
	display: inline-block;
	*zoom: 1; /*【IE7】*/
	*display: inline; /*【IE7】*/
}

	.mi_icon.mi_icon_logo {
		background-position: 0px 0px;
		width: 91px;
		height: 46px;
	}

	.mi_icon.mi_icon_red_star_full {
		background-position: -92px 0px;
		width: 13px;
		height: 12px;
	}

	.mi_icon.mi_icon_red_star_half {
		background-position: -92px -13px;
		width: 13px;
		height: 12px;
	}

	.mi_icon.mi_icon_red_star_emt {
		background-position: -92px -26px;
		width: 13px;
		height: 12px;
	}

	.mi_icon.mi_icon_news {
		background-position: -106px 0px;
		width: 31px;
		height: 34px;
	}

	.mi_icon.mi_icon_position_blue {
		background-position: -138px 0px;
		width: 24px;
		height: 42px;
	}

	.mi_icon.mi_icon_position_orange {
		background-position: -163px 0px;
		width: 24px;
		height: 42px;
	}

	.mi_icon.mi_icon_weibo {
		background-position: -188px 0px;
		width: 19px;
		height: 15px;
	}

	.mi_icon.mi_icon_weixin {
		background-position: -188px -16px;
		width: 19px;
		height: 15px;
	}

	.mi_icon.mi_icon_red_heart {
		background-position: -188px -32px;
		width: 13px;
		height: 10px;
	}

	.mi_icon.mi_icon_bm_qq {
		background-position: -208px 0px;
		width: 24px;
		height: 24px;
	}

	.mi_icon.mi_icon_bm_qqweibo {
		background-position: -208px -25px;
		width: 24px;
		height: 24px;
	}

	.mi_icon.mi_icon_bm_qqzone {
		background-position: -233px 0px;
		width: 24px;
		height: 24px;
	}

	.mi_icon.mi_icon_bm_qqweixin {
		background-position: -233px -25px;
		width: 24px;
		height: 24px;
	}

	.mi_icon.mi_icon_bm_email {
		background-position: -233px 0px;
		width: 24px;
		height: 24px;
	}

	.mi_icon.mi_icon_bm_weibo {
		background-position: -233px -25px;
		width: 24px;
		height: 24px;
	}

/******************************** 本项目的OOCSS ********************************/

/* html */
html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: white;
}

/* 字体 */
body, .mi_std_font_fam {
	font-family: 微软雅黑;
}

/* 颜色 */
.mi_clo_gray {
	color: rgb(146, 146, 146);
}

.mi_clo_blue {
	color: rgb(0, 139, 237);
}

.mi_clo_hdn_magenta {
	color: rgb(242, 18, 102);
}

.mi_bkgd_clo_magenta {
	background-color: rgb(242, 18, 102);
}

.mi_bkgd_clo_gray {
	background-color: rgb(246, 246, 246);
}

/* 布局环境和居中宽度 */
.mi_cen_wid, .mi_lot_env {
	width: 1260px;
	min-width: 1260px;
}

.mi_cen_wid {
	padding: 0px 10px; /* 全局缩放后，防止内容紧贴屏幕两侧，内容宽度仍然保持1240px */
	margin-left: auto;
	margin-right: auto;
}

.mi_lot_env {
	width: 100%;
	-webkit-transform-origin: left top; /*用于全局缩放*/
	-moz-transform-origin: left top;
	-ms-transform-origin: left top;
	-o-transform-origin: left top;
	transform-origin: left top;
}


/******************************** 共同 ********************************/

/*********************************************************************** Over ***********************************************************************/
