/*	
*
*/


/******************************** Home ********************************/

/***** 公共 *****/

.mi_bkgd_clo_blue {
	background-color: rgb(13, 127, 208);
}

.mi_bkgd_clo_blue2 {
	background-color: rgb(7, 135, 223);
}

.mi_btn.mi_bkgd_clo_blue, .mi_btn.mi_bkgd_clo_blue2 {
	padding: 15px 65px;
	border-radius: 5px;
	color: white;
}

/***** logo节 *****/

.mi_sect.mi_logo {
	padding-top: 72px;
	padding-bottom: 110px;
}

.mi_icon.mi_icon_logo {
	margin-right: 8px;
}

/***** 导航节 *****/

.mi_sect.mi_nav {
}

	.mi_sect.mi_nav .mi_list {
	}

		.mi_sect.mi_nav .mi_list > li {
			float: left;
			margin-right: 2em;
		}

			.mi_sect.mi_nav .mi_list > li > a {
				color: black;
			}

				.mi_sect.mi_nav .mi_list > li > a:hover {
					color: rgb(228, 0, 19);
				}

	.mi_sect.mi_nav .mi_col.mi_0 {
		width: 80%;
	}

	.mi_sect.mi_nav .mi_col.mi_1 {
		width: 20%;
	}

		.mi_sect.mi_nav .mi_col.mi_1 .mi_text {
			padding-left: 12px;
			border-left: 1px solid rgb(167, 167, 167);
		}

/***** 横幅节 *****/

.mi_sect.mi_banner {
}

	.mi_sect.mi_banner .mi_bkgd {
		background-image: url("../images/Home/banner_f.jpg");
		background-position: center top;
		height: 852px;
	}

	.mi_sect.mi_banner .mi_pane {
		padding-top: 164px;
	}

		.mi_sect.mi_banner .mi_pane .mi_hn {
			font-size: 36px;
		}

		.mi_sect.mi_banner .mi_pane .mi_list {
			margin: 60px 0px 70px 0px;
			width: 500px;
		}

			.mi_sect.mi_banner .mi_pane .mi_list > li {
				margin-bottom: 25px;
			}

			.mi_sect.mi_banner .mi_pane .mi_list .mi_cptn {
				font-size: 24px;
			}

			.mi_sect.mi_banner .mi_pane .mi_list > li .mi_boa {
				margin: 20px 0px 0px 20px;
			}

			.mi_sect.mi_banner .mi_pane .mi_list > li .mi_col.mi_0 {
				width: 50%;
			}

			.mi_sect.mi_banner .mi_pane .mi_list > li .mi_col.mi_1 {
				width: 50%;
			}

		.mi_sect.mi_banner .mi_pane .mi_btn_base {
			width: 195px;
			height: 55px;
			padding: 8px;
			border-radius: 4px;
			background-color: rgb(0, 0, 0);
			background-color: rgba(0, 0, 0, 0.3);
			box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15);
		}

		.mi_sect.mi_banner .mi_pane .mi_btn {
			padding: 8px 0px;
			border-radius: inherit;
			background-color: rgb(183, 2, 66);
			background-image: -webkit-linear-gradient(top, rgb(254, 77, 144) 0%, rgb(183, 2, 66) 100%);
			background-image: -moz-linear-gradient(top, rgb(254, 77, 144) 0%, rgb(183, 2, 66) 100%);
			background-image: -ms-linear-gradient(top, rgb(254, 77, 144) 0%, rgb(183, 2, 66) 100%);
			background-image: -o-linear-gradient(top, rgb(254, 77, 144) 0%, rgb(183, 2, 66) 100%);
			background-image: linear-gradient(top, rgb(254, 77, 144) 0%, rgb(183, 2, 66) 100%);
			box-shadow: 0px -1px 0px rgba(255, 142, 192, 1);
		}

			.mi_sect.mi_banner .mi_pane .mi_btn.mi_3d {
				box-shadow: 0px -1px 0px rgba(255, 142, 192, 1), 0px 8px 0px rgba(128, 1, 46, 1);
			}

				.mi_sect.mi_banner .mi_pane .mi_btn.mi_3d.mi_prsd {
					box-shadow: 0px -1px 0px rgba(255, 142, 192, 1);
				}

	.mi_sect.mi_banner .mi_icon.mi_icon_news {
		margin-right: 20px;
		vertical-align: middle;
	}

	.mi_sect.mi_banner .mi_news {
		border-bottom: 1px solid rgb(215, 215, 215);
	}

		.mi_sect.mi_banner .mi_news .mi_aph {
			opacity: 0.5;
		}

/***** 案例展示节 *****/

.mi_case_show {
	margin-bottom: 150px;
}

.mi_sect_cptn {
	padding-top: 70px;
	margin-bottom: 50px;
}

	.mi_sect_cptn .mi_hdn_div {
	}

		.mi_sect_cptn .mi_hdn_div > .mi_hdn {
			font-size: 34px;
		}

.mi_hrzt_line {
	background-color: rgb(124, 131, 135);
}

.mi_sect_cptn .mi_hrzt_line > .mi_ctnt_grad_mask {
	background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 45%, rgba(255, 255, 255, 0.5) 55%, rgba(255, 255, 255, 1) 100%);
	background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 45%, rgba(255, 255, 255, 0.5) 55%, rgba(255, 255, 255, 1) 100%);
	background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 45%, rgba(255, 255, 255, 0.5) 55%, rgba(255, 255, 255, 1) 100%);
	background-image: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 45%, rgba(255, 255, 255, 0.5) 55%, rgba(255, 255, 255, 1) 100%);
	background-image: linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 45%, rgba(255, 255, 255, 0.5) 55%, rgba(255, 255, 255, 1) 100%);
}

.mi_sect_cptn .mi_hdn_div > .mi_ctnt_grad_mask {
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 60%);
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 60%);
	background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 60%);
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 60%);
	background-image: linear-gradient(top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 60%);
}

.mi_case_show .mi_boa {
	margin-bottom: 85px;
}

.mi_case_show .mi_col.mi_0 {
	width: 800px;
	height: 496px;
}

.mi_case_show .mi_col.mi_1 {
	width: 440px;
	height: 496px;
}

.mi_tab_page {
	background-color: white;
}

.mi_case_itro {
	padding: 40px;
	background-color: rgb(226, 226, 226);
	background-color: rgba(250, 250, 250, 0.9);
}

	.mi_case_itro .mi_ctnt_div {
		width: 220px;
	}

		.mi_case_itro .mi_ctnt_div .mi_classic_case {
			margin-bottom: 60px;
		}

		.mi_case_itro .mi_ctnt_div .mi_hrzt_line {
			width: 28px;
			height: 3px;
		}

		.mi_case_itro .mi_ctnt_div .mi_hdn {
			color: rgb(67, 67, 67);
		}

		.mi_case_itro .mi_ctnt_div p {
			margin-bottom: 10px;
			line-height: 1.5;
		}

		.mi_case_itro .mi_ctnt_div .mi_cir {
			margin: 0px 5px;
			width: 20px;
			height: 20px;
			border-radius: 10px;
			background-color: rgb(200, 200, 200);
		}

		.mi_case_itro .mi_ctnt_div .mi_cir.mi_slcd {
			background-color: rgb(242, 18, 102);
		}

.mi_case_show .mi_cell {
	float: left;
	width: 218px;
	height: 164px;
	margin: 0px 0px 2px 2px;
	overflow: hidden;
}

	.mi_case_show .mi_cell .mi_bkgd_clo_aph_black {
		-ms-filter: 'alpha(opacity=80)'; /* 兼容IE8 */
		background-color: rgba(0, 0, 0, 0.8);
	}

	.mi_case_show .mi_cell .mi_fig_cptn {
		padding-top: 62px; /*垂直居中*/
	}

		.mi_case_show .mi_cell .mi_fig_cptn p {
			margin-bottom: 5px;
		}

/***** 产品体系节 *****/

.mi_product_hierarchy {
	padding-bottom: 130px;
}

.mi_bkgd_clo_gray .mi_sect_cptn .mi_hdn_div > .mi_ctnt_grad_mask {
	background-image: -webkit-linear-gradient(top, rgba(246, 246, 246, 0.9) 0%, rgba(246, 246, 246, 0) 60%);
	background-image: -moz-linear-gradient(top, rgba(246, 246, 246, 0.9) 0%, rgba(246, 246, 246, 0) 60%);
	background-image: -ms-linear-gradient(top, rgba(246, 246, 246, 0.9) 0%, rgba(246, 246, 246, 0) 60%);
	background-image: -o-linear-gradient(top, rgba(246, 246, 246, 0.9) 0%, rgba(246, 246, 246, 0) 60%);
	background-image: linear-gradient(top, rgba(246, 246, 246, 0.9) 0%, rgba(246, 246, 246, 0) 60%);
}

.mi_bkgd_clo_gray .mi_sect_cptn .mi_hrzt_line > .mi_ctnt_grad_mask {
	background-image: -webkit-linear-gradient(left, rgba(246, 246, 246, 1) 0%, rgba(246, 246, 246, 0.5) 45%, rgba(246, 246, 246, 0.5) 55%, rgba(246, 246, 246, 1) 100%);
	background-image: -moz-linear-gradient(left, rgba(246, 246, 246, 1) 0%, rgba(246, 246, 246, 0.5) 45%, rgba(246, 246, 246, 0.5) 55%, rgba(246, 246, 246, 1) 100%);
	background-image: -ms-linear-gradient(left, rgba(246, 246, 246, 1) 0%, rgba(246, 246, 246, 0.5) 45%, rgba(246, 246, 246, 0.5) 55%, rgba(246, 246, 246, 1) 100%);
	background-image: -o-linear-gradient(left, rgba(246, 246, 246, 1) 0%, rgba(246, 246, 246, 0.5) 45%, rgba(246, 246, 246, 0.5) 55%, rgba(246, 246, 246, 1) 100%);
	background-image: linear-gradient(left, rgba(246, 246, 246, 1) 0%, rgba(246, 246, 246, 0.5) 45%, rgba(246, 246, 246, 0.5) 55%, rgba(246, 246, 246, 1) 100%);
}

.mi_product_hierarchy .mi_col.mi_0 {
	width: 260px;
}

.mi_product_hierarchy .mi_col.mi_1 {
	width: 876px;
}

.mi_product_hierarchy .mi_col.mi_2 {
	width: 84px;
}

.mi_product_hierarchy .mi_col.mi_0 .mi_lab {
	background-color: rgb(8, 138, 225);
}

.mi_product_hierarchy .mi_col.mi_1 .mi_lab {
	background-color: rgb(158, 212, 42);
}

.mi_product_hierarchy .mi_col.mi_2 .mi_lab {
	background-color: rgb(232, 114, 41);
}

.mi_product_hierarchy .mi_col .mi_lab {
	margin-bottom: 4px;
}

.mi_product_hierarchy .mi_col .mi_cell {
	width: 84px;
	margin-right: 4px;
	*margin-right: 0px;	/*IE7防止掉落，取消右外边距！*/
	border: 1px solid rgb(234, 234, 234);
	color: rgb(67, 67, 67);
}

.mi_product_hierarchy .mi_col .mi_cell.mi_mgn_rt_l0 {
	margin-right: 0px;
}

.mi_product_hierarchy .mi_col .mi_cell .mi_sn {
	border-bottom: 1px solid;
	border-color: inherit;
	padding: 30px 0px;
}

.mi_product_hierarchy .mi_col .mi_cell .mi_text_div {
	padding: 20px 30px;
	height: 290px;	/*固定高度*/
	overflow: hidden;
	overflow-wrap: break-word;
	text-align: center;
}

/*实现部分文字旋转*/
.mi_nh5_plchd {
	line-height: 1em;	/*行高=字体高*/
}

.mi_rot_text_div {
	transform-origin: 0.5em 0.5em;
	transform: translate(3px, 0px) rotate(90deg);	/*先顺时针转90°，后接平移修正（似乎偏了3px，具体取值应该与字体高度有关！），注意变换顺序！*/
}

.mi_cc, .mi_ec {
	display: inline-block;
	*zoom: 1;			/* 兼容IE7 */
	*display: inline;	/* 兼容IE7 */
}

.mi_nh5_plchd .mi_cc, .mi_nh5_plchd .mi_ec {
	/*display: block;*/			/*确保一个一行？但这会令高度增加*/
}

.mi_nh5_plchd .mi_cc {
	padding: 1px 0px;	/*注意与mi_rot_text_div的成正交关系*/
}

.mi_nh5_plchd .mi_ec {
	/*margin: 2px 0px;*/	/*注意与mi_rot_text_div的成正交关系*/
}

.mi_rot_text_div .mi_cc {
	padding: 0px 1px;	/*注意与mi_nh5_plchd的成正交关系*/
	transform: rotate(-90deg); /*逆时针转90°，转回来*/
}

.mi_rot_text_div .mi_ec {
	/*margin: 0px 2px;*/	/*注意与mi_nh5_plchd的成正交关系*/
}

/***** 解决方案节 *****/

.mi_solution {
	margin-bottom: 150px;
}

.mi_solution > .mi_boa {
	height: 450px;
	margin-bottom: 80px;
}

.mi_solution > .mi_boa > .mi_col {
	height: 100%;
}

.mi_solution .mi_col.mi_0, .mi_solution .mi_col.mi_2 {
	width: 52px;
	padding-top: 203px;
}

.mi_solution .mi_col.mi_1 {
	width: 1136px;
	overflow: hidden;
}

.mi_solution .mi_btn.mi_arw {
	width: 44px;
	height: 44px;
	border-radius: 22px;

	font-size: 32px;
	text-align: center;

	background-color: rgb(219, 219, 219);
	color: white;
}

.mi_solution .mi_sld_slot {
	min-width: 1136px;
	width: 10000px;	/*一开始大一些，后来将用JS修正*/
}

.mi_solution .mi_sld_slot .mi_cell {
	float: left;
	width : 266px;
	margin: 0px 9px;
}

.mi_solution .mi_sld_slot .mi_cell .mi_cir_div {
	padding-top: 22px;
	text-align: center;
	z-index: 0;
}

.mi_solution .mi_sld_slot .mi_cell .mi_cir {
	width: 166px;
	height: 166px;
	border-radius: 83px;
}

.mi_solution .mi_sld_slot .mi_cell .mi_cir.mi_blue {
	background-color: rgb(0, 139, 237);
	background-image: -webkit-linear-gradient(135deg, rgba(0, 76, 183, 0.5) 0%, rgba(32, 210, 249, 0.5) 100%);
	background-image: -moz-linear-gradient(135deg, rgba(0, 76, 183, 0.5) 0%, rgba(32, 210, 249, 0.5) 100%);
	background-image: -ms-linear-gradient(135deg, rgba(0, 76, 183, 0.5) 0%, rgba(32, 210, 249, 0.5) 100%);
	background-image: -o-linear-gradient(135deg, rgba(0, 76, 183, 0.5) 0%, rgba(32, 210, 249, 0.5) 100%);
	/*background-image: linear-gradient(135deg, rgba(0, 76, 183, 0.5) 0%, rgba(32, 210, 249, 0.5) 100%);*/	/*【注意】Chrome不会忽略，但角度应设为-45deg，奇怪*/
}

.mi_solution .mi_sld_slot .mi_cell .mi_cir.mi_orange {
	background-color: rgb(249, 140, 30);
	background-image: -webkit-linear-gradient(135deg, rgba(192, 50, 31, 0.5) 0%, rgba(249, 140, 30, 0.5) 100%);
	background-image: -moz-linear-gradient(135deg, rgba(192, 50, 31, 0.5) 0%, rgba(249, 140, 30, 0.5) 100%);
	background-image: -ms-linear-gradient(135deg, rgba(192, 50, 31, 0.5) 0%, rgba(249, 140, 30, 0.5) 100%);
	background-image: -o-linear-gradient(135deg, rgba(192, 50, 31, 0.5) 0%, rgba(249, 140, 30, 0.5) 100%);
	/*background-image: linear-gradient(135deg, rgba(192, 50, 31, 0.5) 0%, rgba(249, 140, 30, 0.5) 100%);*/	/*【注意】Chrome不会忽略，但角度应设为-45deg，奇怪*/
}

.mi_solution .mi_sld_slot .mi_cell .mi_cir.mi_red {
	background-color: rgb(242, 18, 102);
	background-image: -webkit-linear-gradient(135deg, rgba(171, 0, 47, 0.5) 0%, rgba(251, 70, 135, 0.5) 100%);
	background-image: -moz-linear-gradient(135deg, rgba(171, 0, 47, 0.5) 0%, rgba(251, 70, 135, 0.5) 100%);
	background-image: -ms-linear-gradient(135deg, rgba(171, 0, 47, 0.5) 0%, rgba(251, 70, 135, 0.5) 100%);
	background-image: -o-linear-gradient(135deg, rgba(171, 0, 47, 0.5) 0%, rgba(251, 70, 135, 0.5) 100%);
	/*background-image: linear-gradient(135deg, rgba(171, 0, 47, 0.5) 0%, rgba(251, 70, 135, 0.5) 100%);*/	/*【注意】Chrome不会忽略，但角度应设为-45deg，奇怪*/
}

.mi_solution .mi_sld_slot .mi_cell .mi_cir.mi_green {
	background-color: rgb(157, 211, 41);
	background-image: -webkit-linear-gradient(135deg, rgba(67, 131, 0, 0.5) 0%, rgba(186, 237, 56, 0.5) 100%);
	background-image: -moz-linear-gradient(135deg, rgba(67, 131, 0, 0.5) 0%, rgba(186, 237, 56, 0.5) 100%);
	background-image: -ms-linear-gradient(135deg, rgba(67, 131, 0, 0.5) 0%, rgba(186, 237, 56, 0.5) 100%);
	background-image: -o-linear-gradient(135deg, rgba(67, 131, 0, 0.5) 0%, rgba(186, 237, 56, 0.5) 100%);
	/*background-image: linear-gradient(135deg, rgba(67, 131, 0, 0.5) 0%, rgba(186, 237, 56, 0.5) 100%);*/	/*【注意】Chrome不会忽略，但角度应设为-45deg，奇怪*/
}

.mi_solution .mi_sld_slot .mi_cell .mi_hlgt_mask {
	left: -50px;	/* 59 = 83/√2，但50和PS更吻合 */
	top: -50px;
	border-radius: inherit;
	background-color: transparent;
	background-color: rgba(246, 246, 246, 0.2);
}

.mi_solution .mi_sld_slot .mi_cell .mi_cell_mask {
	background-image: url("../images/Home/SltnCellMask.png");
	background-repeat: no-repeat;
	background-position: left top;
	width: 100%;
	height: 416px;
	padding-top: 218px;
	margin-bottom: 2px;
	z-index: 1;
}

.mi_solution .mi_sld_slot .mi_cell .mi_hdn {
	padding: 15px 0px;
	margin-bottom: 15px;
}

.mi_solution .mi_sld_slot .mi_cell .mi_foot {
	height: 1em;
}

.mi_solution .mi_dots_boa {
	margin-bottom: 60px;
}

.mi_solution .mi_dots_boa .mi_hrzt_line {
	background-color: rgb(200, 200, 200);
}

.mi_solution .mi_dots_boa .mi_dots_div {
	top: -8px;	/*压在水平线上*/
}

.mi_solution .mi_dots_boa .mi_dots_div .mi_dot_div {
	margin: 0px 30px;
}

.mi_solution .mi_dots_boa .mi_dot {
	width: 16px;
	height: 16px;
	border-radius: 8px;
	border: 1px solid rgb(200, 200, 200);
	background-color: white;
	margin-bottom: 20px;
}

.mi_solution .mi_dots_boa .mi_dot.mi_slcd {
	background-color: rgb(9, 144, 228);
}

/***** 硬件展示节 *****/

.mi_hardware {

}

.mi_hardware .mi_bkgd {
	height: 684px;
	background-image: url("../images/Home/HardwareShow.jpg");
}

.mi_hardware .mi_flag .mi_mdl, .mi_hardware .mi_flag .mi_cptn {
	padding: 10px;
}

.mi_hardware .mi_flag .mi_cptn {
	
}

.mi_hardware .mi_flag_div {
	width: 22px;
	height: 22px;
	border-radius: 11px;
	overflow: visible;
}

.mi_hardware .mi_flag_div .mi_dot {
	width: 10px;
	height: 10px;
	border-radius: 5px;
}

.mi_hardware .mi_flag_div .mi_vtic_line {
	height: 60px;
	left: 50%;
	bottom: 11px;
}

.mi_hardware .mi_flag {
	left: 11px;
	bottom: 11px;
	width: 235px;	/*先设置的大一点，稍后会用JS修正*/
	background-color: transparent;	/*确保超出的部分不可见*/
}

.mi_hardware .mi_flag .mi_lab {
	left: -21px;
}

.mi_hardware .mi_flag_div, .mi_hardware .mi_lab {
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.6);
}

.mi_hardware .mi_flag_div.mi_1 {
	left: 804px;
	top: 493px;
}

.mi_hardware .mi_flag_div.mi_2 {
	left: 810px;
	top: 336px;
}

.mi_hardware .mi_flag_div.mi_8 {
	left: 419px;
	top: 522px;
}

/***** 公司分布节 *****/

.mi_distribution {

}


/*********************************************************************** Over ***********************************************************************/
