/*	
*
*/


/******************************** Home ********************************/

/***** logo节 *****/

.mi_sect.mi_logo {
	padding-top: 72px;
	padding-bottom: 110px;
}

.mi_icon.mi_icon_logo {
	margin-right: 8px;
}

/***** 导航节 *****/

.mi_sect.mi_nav {
}

	.mi_sect.mi_nav .mi_list {
	}

		.mi_sect.mi_nav .mi_list > li {
			float: left;
			margin-right: 2em;
		}

			.mi_sect.mi_nav .mi_list > li > a {
				color: black;
			}

				.mi_sect.mi_nav .mi_list > li > a:hover {
					color: rgb(228, 0, 19);
				}

	.mi_sect.mi_nav .mi_col.mi_0 {
		width: 80%;
	}

	.mi_sect.mi_nav .mi_col.mi_1 {
		width: 20%;
	}

		.mi_sect.mi_nav .mi_col.mi_1 .mi_text {
			padding-left: 12px;
			border-left: 1px solid rgb(167, 167, 167);
		}

/***** 横幅节 *****/

.mi_sect.mi_banner {
}

	.mi_sect.mi_banner .mi_bkgd {
		background-image: url("../images/Home/banner_f.jpg");
		background-position: center top;
		height: 852px;
	}

	.mi_sect.mi_banner .mi_pane {
		padding-top: 164px;
	}

		.mi_sect.mi_banner .mi_pane .mi_hn {
			font-size: 36px;
		}

		.mi_sect.mi_banner .mi_pane .mi_list {
			margin: 60px 0px 70px 0px;
			width: 500px;
		}

			.mi_sect.mi_banner .mi_pane .mi_list > li {
				margin-bottom: 25px;
			}

			.mi_sect.mi_banner .mi_pane .mi_list .mi_cptn {
				font-size: 24px;
			}

			.mi_sect.mi_banner .mi_pane .mi_list > li .mi_boa {
				margin: 20px 0px 0px 20px;
			}

			.mi_sect.mi_banner .mi_pane .mi_list > li .mi_col.mi_0 {
				width: 50%;
			}

			.mi_sect.mi_banner .mi_pane .mi_list > li .mi_col.mi_1 {
				width: 50%;
			}

		.mi_sect.mi_banner .mi_pane .mi_btn_base {
			width: 195px;
			height: 55px;
			padding: 8px;
			border-radius: 4px;
			background-color: rgb(0, 0, 0);
			background-color: rgba(0, 0, 0, 0.3);
			box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15);
		}

		.mi_sect.mi_banner .mi_pane .mi_btn {
			padding: 8px 0px;
			border-radius: inherit;
			background-color: rgb(183, 2, 66);
			background-image: -webkit-linear-gradient(top, rgb(254, 77, 144) 0%, rgb(183, 2, 66) 100%);
			background-image: -moz-linear-gradient(top, rgb(254, 77, 144) 0%, rgb(183, 2, 66) 100%);
			background-image: -ms-linear-gradient(top, rgb(254, 77, 144) 0%, rgb(183, 2, 66) 100%);
			background-image: -o-linear-gradient(top, rgb(254, 77, 144) 0%, rgb(183, 2, 66) 100%);
			background-image: linear-gradient(top, rgb(254, 77, 144) 0%, rgb(183, 2, 66) 100%);
			box-shadow: 0px -1px 0px rgba(255, 142, 192, 1);
		}

			.mi_sect.mi_banner .mi_pane .mi_btn.mi_3d {
				box-shadow: 0px -1px 0px rgba(255, 142, 192, 1), 0px 8px 0px rgba(128, 1, 46, 1);
			}

				.mi_sect.mi_banner .mi_pane .mi_btn.mi_3d.mi_prsd {
					box-shadow: 0px -1px 0px rgba(255, 142, 192, 1);
				}

	.mi_sect.mi_banner .mi_icon.mi_icon_news {
		margin-right: 20px;
		vertical-align: middle;
	}

	.mi_sect.mi_banner .mi_news {
		border-bottom: 1px solid rgb(215, 215, 215);
	}

		.mi_sect.mi_banner .mi_news .mi_aph {
			opacity: 0.5;
		}

/***** 案例展示节 *****/

.mi_sect_cptn {
	padding-top: 70px;
	margin-bottom: 50px;
}

	.mi_sect_cptn .mi_hdn_div {
	}

		.mi_sect_cptn .mi_hdn_div > .mi_hdn {
			font-size: 34px;
		}

	.mi_sect_cptn .mi_hrzt_line {
		background-color: rgb(130, 130, 130);
	}

		.mi_sect_cptn .mi_hrzt_line > .mi_ctnt_grad_mask {
			background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 45%, rgba(255, 255, 255, 0.5) 55%, rgba(255, 255, 255, 1) 100%);
			background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 45%, rgba(255, 255, 255, 0.5) 55%, rgba(255, 255, 255, 1) 100%);
			background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 45%, rgba(255, 255, 255, 0.5) 55%, rgba(255, 255, 255, 1) 100%);
			background-image: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 45%, rgba(255, 255, 255, 0.5) 55%, rgba(255, 255, 255, 1) 100%);
			background-image: linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 45%, rgba(255, 255, 255, 0.5) 55%, rgba(255, 255, 255, 1) 100%);
		}

	.mi_sect_cptn .mi_hdn_div > .mi_ctnt_grad_mask {
		background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 60%);
		background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 60%);
		background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 60%);
		background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 60%);
		background-image: linear-gradient(top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 60%);
	}

/***** 产品体系节 *****/

.mi_bkgd_clo_gray .mi_sect_cptn .mi_hdn_div > .mi_ctnt_grad_mask {
	background-image: -webkit-linear-gradient(top, rgba(246, 246, 246, 0.9) 0%, rgba(246, 246, 246, 0) 60%);
	background-image: -moz-linear-gradient(top, rgba(246, 246, 246, 0.9) 0%, rgba(246, 246, 246, 0) 60%);
	background-image: -ms-linear-gradient(top, rgba(246, 246, 246, 0.9) 0%, rgba(246, 246, 246, 0) 60%);
	background-image: -o-linear-gradient(top, rgba(246, 246, 246, 0.9) 0%, rgba(246, 246, 246, 0) 60%);
	background-image: linear-gradient(top, rgba(246, 246, 246, 0.9) 0%, rgba(246, 246, 246, 0) 60%);
}

.mi_bkgd_clo_gray .mi_sect_cptn .mi_hrzt_line > .mi_ctnt_grad_mask {
	background-image: -webkit-linear-gradient(left, rgba(246, 246, 246, 1) 0%, rgba(246, 246, 246, 0.5) 45%, rgba(246, 246, 246, 0.5) 55%, rgba(246, 246, 246, 1) 100%);
	background-image: -moz-linear-gradient(left, rgba(246, 246, 246, 1) 0%, rgba(246, 246, 246, 0.5) 45%, rgba(246, 246, 246, 0.5) 55%, rgba(246, 246, 246, 1) 100%);
	background-image: -ms-linear-gradient(left, rgba(246, 246, 246, 1) 0%, rgba(246, 246, 246, 0.5) 45%, rgba(246, 246, 246, 0.5) 55%, rgba(246, 246, 246, 1) 100%);
	background-image: -o-linear-gradient(left, rgba(246, 246, 246, 1) 0%, rgba(246, 246, 246, 0.5) 45%, rgba(246, 246, 246, 0.5) 55%, rgba(246, 246, 246, 1) 100%);
	background-image: linear-gradient(left, rgba(246, 246, 246, 1) 0%, rgba(246, 246, 246, 0.5) 45%, rgba(246, 246, 246, 0.5) 55%, rgba(246, 246, 246, 1) 100%);
}

/*********************************************************************** Over ***********************************************************************/
