/*	全局
*
*/


/************************************************* 标准化 ************************************************
	http://meyerweb.com/eric/tools/css/reset/
	v2.0 | 20110126
	License: none (public domain)
*/

*,
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
	box-sizing: border-box;
	margin: 0;
	border: none;
	padding: 0;

	font-family: Arial, Helvetica, sans-serif;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
{
	display: block;
}
*/

body
{
	line-height: 1.2;
}

ol
{
	/*padding-left: 2em;*/
	list-style: decimal;
}

ul
{
	/*padding-left: 2em;*/
	list-style: square;
}

textarea
{
	resize: none;		/* Chrome <- 禁止调整大小 */
	overflow: auto;		/* IE <- 隐藏垂直滚动条 */
}

/*
blockquote, q
{
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after
{
	content: '';
	content: none;
}
*/

table
{
	border-collapse: collapse;
	border-spacing: 0;
}



/************************************************* nUi ************************************************
*/


.cnWse_PutTgt,
.cnWse_PutSrc
{
	box-sizing: border-box;
	margin: 0;
	border: none;
	padding: 0;
}

.cnWse_PutTgt
{
	display: block;
	position: relative;		/* 相对定位（为绝对定位建立新的参照点），可能会被覆盖成绝对定位 */
	left: 0px;
	top: 0px;
	height: auto;
	overflow: hidden;		/*【重点】正在动画的元素溢出时导致滚动条出现，隐藏就能避免*/
}

.cnWse_PutSrc
{
	display: none;
}

/*
.cnWse_PutSrc > *
{
	display: block;
	position: absolute;
	height: auto;
}
*/

/*********************************************************************** Over ***********************************************************************/