/*	公共控件
*
* 【注意】
* 本文件主要包含用于指定“结构”的规则，而用于指定“表现”的规则放在各个皮肤里；
* 本文件也含有少量用于表现的规则，颜色多用黑白，为的是应对没有皮肤时的默认情景。
*/


/*********************************************** tWgt ***********************************************/

.cnWse_PutTgt.cnWse_tWgt_Nml,
.cnWse_PutTgt.cnWse_tWgt_Tch
{
	color: rgb(0, 0, 0);
	box-shadow: 0px 10px 20px rgb(51, 51, 51);
	cursor: pointer;
}

/*********************************************** tBtn ***********************************************/

.cnWse_PutTgt.cnWse_tBtn.cnWse_tBtn_Hole,
.cnWse_PutTgt.cnWse_tBtn .cnWse_tBtn_Body
{
	text-align: center;
	border-radius: 0.5em;
}

.cnWse_PutTgt.cnWse_tBtn.cnWse_tBtn_Hole
{
	padding: 5px;		/* 底座总是比身体沿四个方向多出一小块（和字体大小无关，故用像素） */
	overflow: visible;	/* 为了令按钮体上部超出的部分可见 */
	cursor: default;

	background-color: rgb(160, 160, 160);
	box-shadow: inset 0px 0px 20px rgb(0, 0, 0);
}

.cnWse_PutTgt.cnWse_tBtn .cnWse_tBtn_Body
{
	padding: 0.5em;			/* 令文字周围多一点空间 */
	cursor: pointer;

	position: relative;		/* 上凸 */
	top: -10px;

	-webkit-transition: top, box-shadow;
	-moz-transition: top, box-shadow;
	-ms-transition: top, box-shadow;
	-o-transition: top, box-shadow;
	transition: top, box-shadow;

	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

/* “.cnWse_PutTgt.cnWse_tBtn_Hole>”不能去掉，因为皮肤里的选择器都以某个CSS类开头，会覆盖这里的选择器 */
/* 用第一行在火狐和IE里不行？！使用第二行就好！*/
/* 注意必须使用5个类，为了覆盖皮肤里的box-shadow项（那里用了4个类） */
/*.cnWse_PutTgt.cnWse_tBtn_Hole>.cnWse_tBtn_Body:active*/
/* 注意并排右边的选择器使用6个类，是为了覆盖金属身体的最后一个选择器（那里用了5个类） */
.cnWse_PutTgt.cnWse_tWgt_Tch.cnWse_tBtn.cnWse_tBtn_Hole>.cnWse_tBtn_Body, .cnWse_PutTgt .cnWse_PutTgt.cnWse_tWgt_Tch.cnWse_tBtn.cnWse_tBtn_Hole>.cnWse_tBtn_Body,
.cnWse_PutTgt.cnWse_tBtn.cnWse_tBtn_Hole>.cnWse_tBtn_Body.cnWse_tBtn_Down, .cnWse_PutTgt .cnWse_PutTgt.cnWse_tBtn.cnWse_tBtn_Hole>.cnWse_tBtn_Body.cnWse_tBtn_Down
{
	top: 0px;				/* 下陷 */

	box-shadow: inset 0px 0px 20px rgb(0, 0, 0),
		0px 5px 2px rgb(51, 51, 51);		/* 5px是为了对齐cnWse_tBtn的内边距，2px是为了模糊按钮身体边缘 */
}

/* 按下时文字反白显示 */
.cnWse_PutTgt.cnWse_tBtn.cnWse_tBtn_Hole>.cnWse_tBtn_Body.cnWse_tBtn_Down
{
	color: white;
}

/* 标题 */
.cnWse_PutTgt.cnWse_tBtn .cnWse_tBtn_Tit
{
	position: relative;
	left: 0px;
	top: 0px;
}

/* 纹理 */
.cnWse_PutTgt.cnWse_tBtn .cnWse_tBtn_Txtr
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

/***** 金属 *****/

/* 身体 */
.cnWse_Skin_Metal .cnWse_tBtn .cnWse_tBtn_Body,
.cnWse_Skin_Metal.cnWse_PutTgt .cnWse_tBtn .cnWse_tBtn_Body, .cnWse_PutTgt .cnWse_Skin_Metal.cnWse_PutTgt.cnWse_tBtn .cnWse_tBtn_Body
{
	background: -webkit-linear-gradient(left, rgb(160, 160, 160) 0%, rgb(240, 240, 240) 48%, rgb(240, 240, 240) 52%, rgb(160, 160, 160) 100%);
	background: -moz-linear-gradient(left, rgb(160, 160, 160) 0%, rgb(240, 240, 240) 48%, rgb(240, 240, 240) 52%, rgb(160, 160, 160) 100%);
	background: -ms-linear-gradient(left, rgb(160, 160, 160) 0%, rgb(240, 240, 240) 48%, rgb(240, 240, 240) 52%, rgb(160, 160, 160) 100%);
	background: -o-linear-gradient(left, rgb(160, 160, 160) 0%, rgb(240, 240, 240) 48%, rgb(240, 240, 240) 52%, rgb(160, 160, 160) 100%);
	background: linear-gradient(left, rgb(160, 160, 160) 0%, rgb(240, 240, 240) 48%, rgb(240, 240, 240) 52%, rgb(160, 160, 160) 100%);

	box-shadow:
		/*inset rgba(255,255,255,0.3) 0px -100px 10px,	*//* 上半圆形阴影，【算了，距离不能指定百分比，但按钮尺寸是会变的】 */
		/*inset rgba(255,255,255,0.3) 0px 100px 10px,	*//* 下半圆形阴影，【同上】 */
		inset rgba(255, 255, 255, 1) 0px 4px 2px,	/* 顶部高光 */
		0px 10px 0px rgb(102, 102, 102),			/* 底部的侧面视图 */
		0px 20px 20px rgb(51, 51, 51);				/* 整体投影 */

	color: rgba(0, 0, 0, 0.6);
	text-shadow: rgba(0,0,0,0.1) 0px -2px 2px, rgb(255,255,255) 0px 2px 2px;
}

/* 纹理 */
.cnWse_Skin_Metal .cnWse_tBtn .cnWse_tBtn_Txtr,
.cnWse_Skin_Metal.cnWse_PutTgt .cnWse_tBtn .cnWse_tBtn_Txtr, .cnWse_PutTgt .cnWse_Skin_Metal.cnWse_PutTgt.cnWse_tBtn .cnWse_tBtn_Txtr
{
	position: absolute;			/* 和身体完全匹配 */
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border-radius: inherit;

	background-color: transparent;	/* 露出身体的颜色 */

	/* 默认水平条纹 */
	background: -webkit-repeating-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 2px, rgba(255, 255, 255, 0) 4px);
	background: -moz-repeating-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 2px, rgba(255, 255, 255, 0) 4px);
	background: -ms-repeating-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 2px, rgba(255, 255, 255, 0) 4px);
	background: -o-repeating-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 2px, rgba(255, 255, 255, 0) 4px);
	background: repeating-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 2px, rgba(255, 255, 255, 0) 4px);
}

/* 圆和椭圆形状的条纹 */
.cnWse_Skin_Metal .cnWse_tBtn.cnWse_tBtn_Shp_Cir .cnWse_tBtn_Txtr,
.cnWse_Skin_Metal .cnWse_tBtn.cnWse_tBtn_Shp_Elps .cnWse_tBtn_Txtr,
.cnWse_Skin_Metal.cnWse_PutTgt .cnWse_tBtn.cnWse_tBtn_Shp_Cir .cnWse_tBtn_Txtr, .cnWse_PutTgt .cnWse_Skin_Metal.cnWse_PutTgt.cnWse_tBtn.cnWse_tBtn_Shp_Cir .cnWse_tBtn_Txtr,
.cnWse_Skin_Metal.cnWse_PutTgt .cnWse_tBtn.cnWse_tBtn_Shp_Elps .cnWse_tBtn_Txtr, .cnWse_PutTgt .cnWse_Skin_Metal.cnWse_PutTgt.cnWse_tBtn.cnWse_tBtn_Shp_Elps .cnWse_tBtn_Txtr
{
	/*background-image:*/
	/*-webkit-repeating-radial-gradient(50% 50%, 100% 100%,*/
	/*rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 3%, rgba(255, 255, 255, 0.1) 3.5%),*/
	/*-webkit-repeating-radial-gradient(50% 50%, 100% 100%,*/
	/*rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, 0.1) 7.5%),*/
	/*-webkit-repeating-radial-gradient(50% 50%, 100% 100%,*/
	/*rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1.2%, rgba(255, 255, 255, 0) 2.2%);*/

	/* 环形条纹 */
	background: -webkit-repeating-radial-gradient(center, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 2px, rgba(255, 255, 255, 0) 4px);
	background: -moz-repeating-radial-gradient(center, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 2px, rgba(255, 255, 255, 0) 4px);
	background: -ms-repeating-radial-gradient(center, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 2px, rgba(255, 255, 255, 0) 4px);
	background: -o-repeating-radial-gradient(center, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 2px, rgba(255, 255, 255, 0) 4px);
	background: repeating-radial-gradient(center, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 2px, rgba(255, 255, 255, 0) 4px);
}

/*********************************************** tEdit ***********************************************/

.cnWse_PutTgt.cnWse_tEdit
{
	border-radius: 0.25em;
	padding: 0.25em;
	cursor: default;
}

/* 输入外壳 */
.cnWse_PutTgt.cnWse_tEdit .cnWse_tEdit_IptHull
{
	background-color: rgba(255, 255, 255, 0.7);

	/* 辉光效果 */
	box-shadow: inset 0px 0px 10px rgb(0, 0, 0);

	-webkit-transition: box-shadow;
	-moz-transition: box-shadow;
	-ms-transition: box-shadow;
	-o-transition: box-shadow;
	transition: box-shadow;

	-webkit-transition-duration: 0.6s;
	-moz-transition-duration: 0.6s;
	-ms-transition-duration: 0.6s;
	-o-transition-duration: 0.6s;
	transition-duration: 0.6s;
}

.cnWse_PutTgt.cnWse_tEdit input[type=text],
.cnWse_PutTgt.cnWse_tEdit input[type=password],
.cnWse_PutTgt.cnWse_tEdit textarea
{
	width: 100%;
	padding: 0.5em;
	background-color: transparent;
}

/* 辉光效果 */
/*.cnWse_PutTgt.cnWse_tEdit input[type=text]:focus,*/
/*.cnWse_PutTgt.cnWse_tEdit input[type=password]:focus,*/
/*.cnWse_PutTgt.cnWse_tEdit textarea:focus*/
.cnWse_PutTgt.cnWse_tEdit .cnWse_tEdit_IptHull.cnWse_tEdit_Glow
{
	box-shadow: inset 0px 0px 10px rgb(0, 255, 0),
				0px 0px 10px rgb(0, 255, 0);
}

/* OK按钮和前后缀 */
.cnWse_PutTgt.cnWse_tEdit *[data-Wse_Ok],
.cnWse_PutTgt.cnWse_tEdit *[data-Wse_Pfx],
.cnWse_PutTgt.cnWse_tEdit *[data-Wse_Sfx]
{
	/*display: inline-block;*/
	text-align: center;
	cursor: pointer;
}

/* 占位符 */
.cnWse_PutTgt.cnWse_tEdit .cnWse_tEdit_Plchd
{
	color: rgba(0, 0, 0, 0.5);
}

/***** 金属 *****/

.cnWse_Skin_Metal .cnWse_tEdit,
.cnWse_Skin_Metal.cnWse_PutTgt .cnWse_tEdit, .cnWse_PutTgt .cnWse_Skin_Metal.cnWse_PutTgt.cnWse_tEdit
{
	background: -webkit-linear-gradient(left, rgb(160, 160, 160) 0%, rgb(240, 240, 240) 48%, rgb(240, 240, 240) 52%, rgb(160, 160, 160) 100%);
	background: -moz-linear-gradient(left, rgb(160, 160, 160) 0%, rgb(240, 240, 240) 48%, rgb(240, 240, 240) 52%, rgb(160, 160, 160) 100%);
	background: -ms-linear-gradient(left, rgb(160, 160, 160) 0%, rgb(240, 240, 240) 48%, rgb(240, 240, 240) 52%, rgb(160, 160, 160) 100%);
	background: -o-linear-gradient(left, rgb(160, 160, 160) 0%, rgb(240, 240, 240) 48%, rgb(240, 240, 240) 52%, rgb(160, 160, 160) 100%);
	background: linear-gradient(left, rgb(160, 160, 160) 0%, rgb(240, 240, 240) 48%, rgb(240, 240, 240) 52%, rgb(160, 160, 160) 100%);

	box-shadow: inset rgba(255, 255, 255, 1) 0px 4px 2px,	/* 顶部高光 */
		0px 10px 20px rgb(51, 51, 51);						/* 整体投影 */

	color: rgba(0, 0, 0, 0.6);
	text-shadow: rgba(0,0,0,0.1) 0px -2px 2px, rgb(255,255,255) 0px 2px 2px;
}


/*********************************************** tList ***********************************************/

.cnWse_PutTgt.cnWse_tList>ul
{
	/*padding: 0.25em;*/
	overflow: auto;			/* 允许水平垂直滚动条出现 */
}

.cnWse_PutTgt.cnWse_tList>ul>li
{
	padding: 0.25em;
}

.cnWse_PutTgt.cnWse_tList .cnWse_tList_Btn
{
	display: inline-block;
	margin: 0px 0.5em 0px 0px;

	width: 1.2em;		/* 正方形 */
	height: 1.2em;

	background-color: rgba(255, 255, 255, 0.7);

	/* 辉光效果 */
	-webkit-transition: background-color, box-shadow;
	-moz-transition: background-color, box-shadow;
	-ms-transition: background-color, box-shadow;
	-o-transition: background-color, box-shadow;
	transition: background-color, box-shadow;

	-webkit-transition-duration: 0.6s;
	-moz-transition-duration: 0.6s;
	-ms-transition-duration: 0.6s;
	-o-transition-duration: 0.6s;
	transition-duration: 0.6s;
}

/* 辉光效果 */
.cnWse_PutTgt.cnWse_tList li.cnWse_tList_Slcd .cnWse_tList_Btn
{
	-webkit-transition: background-color, box-shadow;
	-moz-transition: background-color, box-shadow;
	-ms-transition: background-color, box-shadow;
	-o-transition: background-color, box-shadow;
	transition: background-color, box-shadow;

	-webkit-transition-duration: 0.6s;
	-moz-transition-duration: 0.6s;
	-ms-transition-duration: 0.6s;
	-o-transition-duration: 0.6s;
	transition-duration: 0.6s;
}

/* 单选框是圆形，复选框是正方形 */
.cnWse_PutTgt.cnWse_tList.cnWse_SglSlc .cnWse_tList_Btn
{
	border-radius: 0.6em;	/* 恰好是宽高的一半，形成圆形 */
}

.cnWse_PutTgt.cnWse_tList.cnWse_MltSlc .cnWse_tList_Btn
{
	border-radius: 0px;
}

/* 多选框的辅助按钮 */
.cnWse_PutTgt.cnWse_tList .cnWse_tList_SlcAll,
.cnWse_PutTgt.cnWse_tList .cnWse_tList_SlcRvs
{
	display: inline-block;

	margin: 0.25em;
	border: 2px solid rgb(128, 128, 128);
	border-radius: 0.5em;
	padding: 2px 4px;

	text-align: center;
	background-color: rgba(255, 255, 255, 0.7);
	color: rgb(0, 255, 0);
}

.cnWse_PutTgt.cnWse_tList .cnWse_tList_SlcAll.cnWse_tWgt_Tch,
.cnWse_PutTgt.cnWse_tList .cnWse_tList_SlcRvs.cnWse_tWgt_Tch
{
	background-color: rgb(128, 128, 128);
	color: rgb(255, 255, 255);
}

/*********************************************** tSwch ***********************************************/

.cnWse_PutTgt.cnWse_tSwch
{
	min-height: 2em;
	border: 2px solid rgb(0, 0, 0);
	border-radius: 1em;

	background-color: rgb(128, 128, 128);
	box-shadow: inset 0px 0px 20px rgb(0, 0, 0), 0px 10px 20px rgb(51, 51, 51);

	-webkit-transition: background-color;
	-moz-transition: background-color;
	-ms-transition: background-color;
	-o-transition: background-color;
	transition: background-color;

	-webkit-transition-duration: 0.6s;
	-moz-transition-duration: 0.6s;
	-ms-transition-duration: 0.6s;
	-o-transition: background-color;
	transition-duration: 0.6s;
}

.cnWse_PutTgt.cnWse_tSwch.cnWse_tSwch_On
{
	background-color: rgb(220, 220, 220);
}

.cnWse_PutTgt.cnWse_tSwch .cnWse_tSwch_Gap
{
	position: absolute;
	width: 60%;
	height: 0px;
	left: 20%;		/* (100% - 60%) / 2 */
	top: 50%;
	border-top: 1px solid rgb(0, 0, 0);
	border-bottom: 1px solid rgb(220, 220, 220);
	z-index: 1;
}

.cnWse_PutTgt.cnWse_tSwch.cnWse_tSwch_On .cnWse_tSwch_Gap
{
	border-top-color: rgb(96, 96, 96);		/* 颜色稍微亮一点 */
}

.cnWse_PutTgt.cnWse_tSwch .cnWse_tSwch_Blk
{
	position: absolute;
	min-width: 2em;
	width: 40%;
	height: 100%;
	border: 0.5em solid silver;
	border-radius: 1em;
	z-index: 2;
}

.cnWse_PutTgt.cnWse_tSwch .cnWse_tSwch_Blk .cnWse_tSwch_Lgt
{
	width: 100%;
	height: 100%;
	border-radius: 1em;

	-webkit-transition: background-color, box-shadow;
	-moz-transition: background-color, box-shadow;
	-ms-transition: background-color, box-shadow;
	-o-transition: background-color, box-shadow;
	transition: background-color, box-shadow;

	-webkit-transition-duration: 0.6s;
	-moz-transition-duration: 0.6s;
	-ms-transition-duration: 0.6s;
	-o-transition-duration: 0.6s;
	transition-duration: 0.6s;
}

/*********************************************** tCmb ***********************************************/

.cnWse_PutTgt.cnWse_tCmb
{
	position: relative;
	overflow: visible;		/* 由于子节点全都绝对定位，为了使他们显示出来 */
	visibility: hidden;		/* 隐藏，用不到放置目标 */

	height: auto;
}

.cnWse_PutTgt.cnWse_tCmb>*
{
	visibility: visible;	/* 放置目标里的东西应显示出来 */
}

/* 编辑 */
.cnWse_PutTgt.cnWse_tCmb>.cnWse_tEdit
{
	position: absolute;
	left: 0px;
}

/* 按钮 */
.cnWse_PutTgt.cnWse_tCmb .cnWse_tBtn
{
	position: absolute;
}

.cnWse_PutTgt.cnWse_tCmb .cnWse_tBtn_Hole
{
	padding: 2px; 	/* 底座小一点 */
}

.cnWse_PutTgt.cnWse_tCmb .cnWse_tBtn_Hole>.cnWse_tBtn_Body
{
	font-weight: bold;	/* 箭头粗体显示 */
}

.cnWse_PutTgt.cnWse_tCmb .cnWse_tBtn_Hole>.cnWse_tBtn_Body.cnWse_tBtn_Down
{
	box-shadow: inset 0px 0px 20px rgb(0, 0, 0),
		0px 2px 2px rgb(51, 51, 51);		/* 2px是为了对齐上面底座的2px */
}

/* 列表 */
.cnWse_PutTgt.cnWse_tCmb>ul
{
	position: absolute;
	min-width: 100%;			/* 至少全宽 */
	list-style-type: none;		/* 把方点去掉 */
	overflow: auto;				/* 按需滚动 */
	border: 1px solid white;
	box-shadow: 0px 10px 20px rgb(51, 51, 51);
}

.cnWse_PutTgt.cnWse_tCmb>ul>li
{
	padding: 5px;
}

/***** 金属 *****/

.cnWse_Skin_Metal .cnWse_tCmb>ul,
.cnWse_Skin_Metal.cnWse_PutTgt .cnWse_tCmb>ul, .cnWse_PutTgt .cnWse_Skin_Metal.cnWse_PutTgt.cnWse_tCmb>ul
{
	background: -webkit-linear-gradient(left, rgb(160, 160, 160) 0%, rgb(240, 240, 240) 48%, rgb(240, 240, 240) 52%, rgb(160, 160, 160) 100%);
	background: -moz-linear-gradient(left, rgb(160, 160, 160) 0%, rgb(240, 240, 240) 48%, rgb(240, 240, 240) 52%, rgb(160, 160, 160) 100%);
	background: -ms-linear-gradient(left, rgb(160, 160, 160) 0%, rgb(240, 240, 240) 48%, rgb(240, 240, 240) 52%, rgb(160, 160, 160) 100%);
	background: -o-linear-gradient(left, rgb(160, 160, 160) 0%, rgb(240, 240, 240) 48%, rgb(240, 240, 240) 52%, rgb(160, 160, 160) 100%);
	background: linear-gradient(left, rgb(160, 160, 160) 0%, rgb(240, 240, 240) 48%, rgb(240, 240, 240) 52%, rgb(160, 160, 160) 100%);

	box-shadow: inset rgba(255, 255, 255, 1) 0px 4px 2px,	/* 顶部高光 */
	0px 10px 20px rgb(51, 51, 51);						/* 整体投影 */

	color: rgba(0, 0, 0, 0.6);
	text-shadow: rgba(0,0,0,0.1) 0px -2px 2px, rgb(255,255,255) 0px 2px 2px;
}

/* <ul>的<li>奇偶色 */
.cnWse_Skin_Metal .cnWse_tCmb>ul>li:nth-of-type(odd),
.cnWse_Skin_Metal.cnWse_PutTgt .cnWse_tCmb>ul>li:nth-of-type(odd), .cnWse_PutTgt .cnWse_Skin_Metal.cnWse_PutTgt.cnWse_tCmb>ul>li:nth-of-type(odd)
{
	background-color: transparent;	/* 用<ul>的背景色 */
}

.cnWse_Skin_Metal .cnWse_tCmb>ul>li:nth-of-type(even),
.cnWse_Skin_Metal.cnWse_PutTgt .cnWse_tCmb>ul>li:nth-of-type(even), .cnWse_PutTgt .cnWse_Skin_Metal.cnWse_PutTgt.cnWse_tCmb>ul>li:nth-of-type(even)
{
	/*background-color: rgb(160, 160, 160);*/
	background: -webkit-linear-gradient(left, rgb(147, 147, 147) 0%, rgb(210, 210, 210) 48%, rgb(210, 210, 210) 52%, rgb(147, 147, 147) 100%);
	background: -moz-linear-gradient(left, rgb(147, 147, 147) 0%, rgb(210, 210, 210) 48%, rgb(210, 210, 210) 52%, rgb(147, 147, 147) 100%);
	background: -ms-linear-gradient(left, rgb(147, 147, 147) 0%, rgb(210, 210, 210) 48%, rgb(210, 210, 210) 52%, rgb(147, 147, 147) 100%);
	background: -o-linear-gradient(left, rgb(147, 147, 147) 0%, rgb(210, 210, 210) 48%, rgb(210, 210, 210) 52%, rgb(147, 147, 147) 100%);
	background: linear-gradient(left, rgb(147, 147, 147) 0%, rgb(210, 210, 210) 48%, rgb(210, 210, 210) 52%, rgb(147, 147, 147) 100%);
}

/*********************************************** tMenu ***********************************************/

/* 通用 */
.cnWse_PutTgt.cnWse_tMenu
{
	border-radius: 0px 0px 0.5em 0.5em;
}

.cnWse_PutTgt.cnWse_tMenu ul
{
	list-style-type: none;
	font-size: 1em;
	overflow: hidden;	/* 动画宽高时，文字可能溢出，把他们裁剪掉 */
}

.cnWse_PutTgt.cnWse_tMenu li
{
	padding: 5px 1.5em 5px 5px;
	position: relative;
}

/* 展开式 */
.cnWse_PutTgt.cnWse_tMenu_Expd
{
	overflow: visible;		/* 各级列表总是可见，即使放置目标尺寸不够 */
}

.cnWse_PutTgt.cnWse_tMenu_Expd ul.cnWse_tMenu_Root
{
	/*position: static;		*//* 扩展式的根静态定位 */
	text-align: center;
	z-index: 0;
}

.cnWse_PutTgt.cnWse_tMenu_Expd ul.cnWse_tMenu_Next
{
	position: absolute;
	border: 1px solid rgb(95%, 95%, 95%);
	box-shadow: 0px 10px 20px rgb(51, 51, 51);
}

.cnWse_PutTgt.cnWse_tMenu_Expd ul.cnWse_tMenu_Root>li
{
	display: inline-block;
	text-align: center;
}

.cnWse_PutTgt.cnWse_tMenu_Expd ul.cnWse_tMenu_Next>li
{
	display: block;
	text-align: left;
}

/* 层叠式 */
.cnWse_PutTgt.cnWse_tMenu_Ovlp
{
	overflow: hidden;		/* 只显示顶级列表，放置目标尺寸与之匹配 */
}

.cnWse_PutTgt.cnWse_tMenu_Ovlp ul
{
	padding: 0 5px;
}

.cnWse_PutTgt.cnWse_tMenu_Ovlp ul.cnWse_tMenu_Root
{
	/*position: static;		*//* 层叠式的根静态定位 */
}

.cnWse_PutTgt.cnWse_tMenu_Ovlp ul.cnWse_tMenu_Next
{
	position: absolute;
}

.cnWse_PutTgt.cnWse_tMenu_Ovlp .cnWse_tMenu_Root>li
{
	display: block;
	text-align: left;
}

/* 四个箭头 */
.cnWse_PutTgt.cnWse_tMenu .cnWse_LtArw
{
	position: absolute;
	left: 0px;
	top: 0px;
	padding-top: inherit;
	padding-bottom: inherit;
}

.cnWse_PutTgt.cnWse_tMenu .cnWse_RtArw,
.cnWse_PutTgt.cnWse_tMenu .cnWse_UpArw,
.cnWse_PutTgt.cnWse_tMenu .cnWse_DnArw
{
	position: absolute;
	right: 2px;		/* 箭头和右边框增加点空间 */
	top: 0px;
	padding-top: inherit;
	padding-bottom: inherit;
}

/* 展开式根<ul>展开的<li> */
.cnWse_PutTgt.cnWse_tMenu_Expd li.cnWse_tMenu_ExpdLi
{
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: inset 0px 0px 10px rgb(0, 0, 0);
}

/* 层叠式返回<li> */
.cnWse_PutTgt.cnWse_tMenu_Ovlp li.cnWse_tMenu_BackLi
{
	text-align: center;
}

/* 占位<ul> */
.cnWse_PutTgt.cnWse_tMenu ul.cnWse_tMenu_Plchd
{
	height: 5em;
}

/*********************************************** tAcod ***********************************************/

.cnWse_PutTgt.cnWse_tAcod
{
	overflow: visible;		/* 为了使最后一排的阴影显示出来 */
	visibility: hidden;		/* 隐藏，用不到放置目标 */
}

.cnWse_PutTgt.cnWse_tAcod>*
{
	visibility: visible;	/* 放置目标里的东西应显示出来 */
}

.cnWse_PutTgt.cnWse_tAcod .cnWse_tAcod_Tit,
.cnWse_PutTgt.cnWse_tAcod .cnWse_tAcod_Ctnt
{
	box-shadow: 0px 10px 20px rgb(51, 51, 51);
}

.cnWse_PutTgt.cnWse_tAcod .cnWse_tAcod_Tit
{
	border: 1px solid black;
	border-radius: 0.5em;
	margin-top: 0.25em;
	padding: 0.25em;
	font-size: 1.2em;
}

.cnWse_PutTgt.cnWse_tAcod .cnWse_tAcod_Tit:first-of-type
{
	margin-top: 0px;
}

.cnWse_PutTgt.cnWse_tAcod .cnWse_tAcod_TitExpd
{
	border-radius: 0.5em 0.5em 0px 0px;
}

.cnWse_PutTgt.cnWse_tAcod .cnWse_tAcod_Ctnt
{
	border: 1px solid black;
	border-radius: 0px 0px 0.5em 0.5em;
	padding: 0.5em;
	font-size: 1em;
	overflow: hidden;	/* 动画高度时裁剪掉内容 */
	cursor: default;
}

/* 两个标题箭头 */
.cnWse_PutTgt.cnWse_tAcod .cnWse_RtArw,
.cnWse_PutTgt.cnWse_tAcod .cnWse_DnArw
{
	margin-right: 0.5em;
}

/*********************************************** tNav ***********************************************/

.cnWse_PutTgt.cnWse_tNav
{
	position: fixed;
	text-align: center;
	overflow: visible;		/* 已经改成绝对定位，必须保证子元素可见 */
	z-index: 10000;
}

.cnWse_PutTgt.cnWse_tNav li
{
	list-style-type: none;
	padding: 0px;
	height: 100%;
}

.cnWse_PutTgt.cnWse_tNav>*[data-Wse_Tit],
.cnWse_PutTgt.cnWse_tNav li>a
{
	display: block;					/* 令整个<li>成为可点击的按钮 */
	border-radius: inherit;			/* 继承父节点的边框半径（可能是圆形） */
	padding: 20% 0px 0px 0px;		/* 和径向渐变垂直对齐 */
	height: 100%;
}

/* 导航<a> */
.cnWse_PutTgt.cnWse_tNav li>a:link,
.cnWse_PutTgt.cnWse_tNav li>a:visited,
.cnWse_PutTgt.cnWse_tNav li>a:hover,
.cnWse_PutTgt.cnWse_tNav li>a:active
{
	text-decoration: none;
	color: inherit;
}

/* 叶片 */
.cnWse_PutTgt.cnWse_tNav .cnWse_tNav_Leaf
{
	display: none;
	position: absolute;
	box-shadow: 0px 10px 20px rgb(51, 51, 51);
}

/*********************************************** tSignLog ***********************************************/

.cnWse_PutTgt.cnWse_tSignLog
{
	display: none;			/* 初始不可见 */
	position: fixed;
	left: 20%;
	top: 20%;
	width: 60%;
	min-width: 200px;
	max-width: 600px;
	min-height: 200px;
	margin: 0px;
	border-radius: 0px 0px 1em 1em;
	padding: 2em 5%;
	text-align: left;
	overflow: auto;
	z-index: 10001;			/* 比导航要高 */
}

.cnWse_PutTgt.cnWse_tSignLog>.cnWse_PutTgt.cnWse_tEdit
{
	margin-bottom: 2em;
}

.cnWse_PutTgt.cnWse_tSignLog>.cnWse_PutTgt.cnWse_tBtn.cnWse_tBtn_Hole>.cnWse_tBtn_Body
{
	width: 4em;
}

.cnWse_PutTgt.cnWse_tSignLog>.cnWse_PutTgt.cnWse_tBtn.cnWse_tBtn_Hole.cnWse_tSignLog_Cls
{
	float: left;
}

.cnWse_PutTgt.cnWse_tSignLog>.cnWse_PutTgt.cnWse_tBtn.cnWse_tBtn_Hole.cnWse_tSignLog_Sbmt
{
	float: right;
}

/*********************************************** tGpuSldPlr ***********************************************/

.cnWse_PutTgt.cnWse_tGpuSldPlr
{
	background-color: lightgray;
	overflow: visible;
	cursor: default;
}

.cnWse_PutTgt.cnWse_tGpuSldPlr>canvas
{
	cursor: default;
}

.cnWse_PutTgt.cnWse_tGpuSldPlr>.cnWse_PutTgt
{
	position: absolute;		/* 使用绝对定位！IE11当把按钮按下后，高度竟然会变化？！所以自己全面接管位置尺寸计算！ */
}

/* 所有按钮，为方便计算，要求他们的CSS样式一致，且都是正方形（算上外边距） */
.cnWse_PutTgt.cnWse_tGpuSldPlr>.cnWse_PutTgt.cnWse_tBtn
{
	margin: 5px;		/* 四个外边距必须一样！ */
	width: 3em;
	font-weight: bold;
}

/* 数组输入框 */
.cnWse_PutTgt.cnWse_tGpuSldPlr>.cnWse_PutTgt.cnWse_tEdit
{
	margin: 0px 10px;
	padding: 0px;
	width: 4em;		/* 64px */
	border-radius: 0px;
	background-image: none;
	box-shadow: none;
	text-align: center;
	text-shadow: none;
	color: rgb(0, 0, 0);
}

.cnWse_PutTgt.cnWse_tGpuSldPlr>.cnWse_PutTgt.cnWse_tEdit input[type="text"]
{
	padding: 4px;	/* 他们俩的边距必须相同 */
}

.cnWse_PutTgt.cnWse_tGpuSldPlr>.cnWse_PutTgt.cnWse_tCmb
{
	margin: 5px 10px;
	width: 12em;		/* 192px */
}

.cnWse_PutTgt.cnWse_tGpuSldPlr>.cnWse_PutTgt.cnWse_tCmb>ul
{
	max-height: 8em;	/* 限制一下高度，约120px */
}

/*********************************************************************** Over ***********************************************************************/