/*	公共控件
*
*/


/*********************************************** tWgt ***********************************************/

.cnWse_Skin_Purple .cnWse_tWgt_Nml,
.cnWse_Skin_Purple .cnWse_tWgt_Tch
{

}

/*********************************************** tBtn ***********************************************/

.cnWse_Skin_Purple .cnWse_tWgt_Nml.cnWse_tBtn>.cnWse_tBtn_Body,
.cnWse_Skin_Purple .cnWse_tWgt_Tch.cnWse_tBtn>.cnWse_tBtn_Body
{
	background: -webkit-linear-gradient(top, rgb(95%, 95%, 95%), rgb(95%, 95%, 95%) 40%, rgb(142, 34, 160) 90%, rgb(142, 34, 160));
	background: -moz-linear-gradient(top, rgb(95%, 95%, 95%), rgb(95%, 95%, 95%) 40%, rgb(142, 34, 160) 90%, rgb(142, 34, 160));
	background: -ms-linear-gradient(top, rgb(95%, 95%, 95%), rgb(95%, 95%, 95%) 40%, rgb(142, 34, 160) 90%, rgb(142, 34, 160));
	background: linear-gradient(top, rgb(95%, 95%, 95%), rgb(95%, 95%, 95%) 40%, rgb(142, 34, 160) 90%, rgb(142, 34, 160));

	border-bottom-color: rgb(99, 24, 112);
}

/*********************************************** tEdit ***********************************************/

.cnWse_Skin_Purple .cnWse_tEdit
{
	background: -webkit-linear-gradient(top, rgb(95%, 95%, 95%), rgb(95%, 95%, 95%) 40%, rgb(142, 34, 160) 90%, rgb(142, 34, 160));
	background: -moz-linear-gradient(top, rgb(95%, 95%, 95%), rgb(95%, 95%, 95%) 40%, rgb(142, 34, 160) 90%, rgb(142, 34, 160));
	background: -ms-linear-gradient(top, rgb(95%, 95%, 95%), rgb(95%, 95%, 95%) 40%, rgb(142, 34, 160) 90%, rgb(142, 34, 160));
	background: linear-gradient(top, rgb(95%, 95%, 95%), rgb(95%, 95%, 95%) 40%, rgb(142, 34, 160) 90%, rgb(142, 34, 160));
}

/*********************************************** tList ***********************************************/

.cnWse_Skin_Purple .cnWse_PutTgt.cnWse_tList
{
	background: -webkit-linear-gradient(top left, rgb(95%, 95%, 95%), rgb(95%, 95%, 95%) 40%, rgb(142, 34, 160) 90%, rgb(142, 34, 160));
	background: -moz-linear-gradient(top left, rgb(95%, 95%, 95%), rgb(95%, 95%, 95%) 40%, rgb(142, 34, 160) 90%, rgb(142, 34, 160));
	background: -ms-linear-gradient(top left, rgb(95%, 95%, 95%), rgb(95%, 95%, 95%) 40%, rgb(142, 34, 160) 90%, rgb(142, 34, 160));
	background: linear-gradient(top left, rgb(95%, 95%, 95%), rgb(95%, 95%, 95%) 40%, rgb(142, 34, 160) 90%, rgb(142, 34, 160));
}

.cnWse_Skin_Purple .cnWse_tList .cnWse_tList_Btn
{
	border: 2px solid rgb(142, 34, 160);
}

/* 辉光效果 */
.cnWse_Skin_Purple .cnWse_tList .cnWse_tList_Btn
{
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: inset 0px 0px 5px rgb(142, 34, 160);
}

.cnWse_Skin_Purple li.cnWse_tList_Slcd .cnWse_tList_Btn
{
	background-color: rgba(232, 46, 255, 0.7);
	box-shadow: inset 0px 0px 5px rgb(142, 34, 160), 0px 0px 10px rgb(232, 46, 255);
}

/* 多选框的辅助按钮 */
.cnWse_Skin_Purple .cnWse_tList .cnWse_tList_SlcAll,
.cnWse_Skin_Purple .cnWse_tList .cnWse_tList_SlcRvs
{
	background-color: rgba(255, 255, 255, 0.7);
	border-color: rgb(142, 34, 160);
	color: rgb(142, 34, 160);
}

.cnWse_Skin_Purple .cnWse_tList .cnWse_tList_SlcAll:active,
.cnWse_Skin_Purple .cnWse_tList .cnWse_tList_SlcRvs:active
{
	background-color: rgb(142, 34, 160);
	border-color: rgb(142, 34, 160);
	color: rgb(255, 255, 255);
}

/*********************************************** tSwch ***********************************************/

.cnWse_Skin_Purple .cnWse_PutTgt.cnWse_tSwch
{
	border: 2px solid rgb(142, 34, 160);
}

.cnWse_Skin_Purple .cnWse_tSwch .cnWse_tSwch_Lgt
{
	background-color: rgba(75, 23, 92, 0.7);
	box-shadow: none;
}

.cnWse_Skin_Purple .cnWse_tSwch.cnWse_tSwch_On .cnWse_tSwch_Lgt
{
	background-color: rgb(232, 46, 255);
	box-shadow: 0px 0px 20px rgb(232, 46, 255);
}

/*********************************************** tMenu ***********************************************/

/* 背景渐变 */
.cnWse_Skin_Purple .cnWse_tMenu_Expd
{
	background: -webkit-linear-gradient(top, rgb(95%, 95%, 95%), rgb(95%, 95%, 95%) 40%, rgb(142, 34, 160) 90%, rgb(142, 34, 160));
	background: -moz-linear-gradient(top, rgb(95%, 95%, 95%), rgb(95%, 95%, 95%) 40%, rgb(142, 34, 160) 90%, rgb(142, 34, 160));
	background: -ms-linear-gradient(top, rgb(95%, 95%, 95%), rgb(95%, 95%, 95%) 40%, rgb(142, 34, 160) 90%, rgb(142, 34, 160));
	background: linear-gradient(top, rgb(95%, 95%, 95%), rgb(95%, 95%, 95%) 40%, rgb(142, 34, 160) 90%, rgb(142, 34, 160));
}

.cnWse_Skin_Purple .cnWse_tMenu_Ovlp,
.cnWse_Skin_Purple .cnWse_tMenu_Ovlp ul
{
	background: -webkit-linear-gradient(left, rgb(95%, 95%, 95%), rgb(95%, 95%, 95%) 40%, rgb(142, 34, 160) 90%, rgb(142, 34, 160));
	background: -moz-linear-gradient(left, rgb(95%, 95%, 95%), rgb(95%, 95%, 95%) 40%, rgb(142, 34, 160) 90%, rgb(142, 34, 160));
	background: -ms-linear-gradient(left, rgb(95%, 95%, 95%), rgb(95%, 95%, 95%) 40%, rgb(142, 34, 160) 90%, rgb(142, 34, 160));
	background: linear-gradient(left, rgb(95%, 95%, 95%), rgb(95%, 95%, 95%) 40%, rgb(142, 34, 160) 90%, rgb(142, 34, 160));
}

/* 展开式次级<ul> */
.cnWse_Skin_Purple .cnWse_tMenu_Expd ul.cnWse_tMenu_Next
{
	background-color: rgb(214, 76, 240);
	border: 1px solid rgb(95%, 95%, 95%);
}

/* 展开式根<ul>的<li> */
.cnWse_Skin_Purple .cnWse_tMenu_Expd ul.cnWse_tMenu_Root>li:first-of-type
{
	border-left: 2px solid rgb(142, 34, 160);
}

.cnWse_Skin_Purple .cnWse_tMenu_Expd ul.cnWse_tMenu_Root>li
{
	border-left: 1px solid rgb(142, 34, 160);
	border-right: 1px solid rgb(142, 34, 160);
}

.cnWse_Skin_Purple .cnWse_tMenu_Expd ul.cnWse_tMenu_Root>li:last-of-type
{
	border-right: 2px solid rgb(142, 34, 160);
}

/* 展开式次级<ul>的<li>分割线 */
/*
.cnWse_Skin_Purple .cnWse_tMenu_Expd ul.cnWse_tMenu_Next>li
{
	border-bottom: 1px solid rgb(95%, 95%, 95%);
}

.cnWse_Skin_Purple .cnWse_tMenu_Expd ul.cnWse_tMenu_Next>li:last-of-type
{
	border-bottom: none;
}
*/

/* 展开式次级<ul>的<li>奇偶色 */
.cnWse_Skin_Purple .cnWse_tMenu_Expd ul.cnWse_tMenu_Next>li:nth-of-type(odd)
{
	background-color: transparent;
}

.cnWse_Skin_Purple .cnWse_tMenu_Expd ul.cnWse_tMenu_Next>li:nth-of-type(even)
{
	background-color: rgb(184, 73, 210);
}

/* 层叠式<li>分割线 */
.cnWse_Skin_Purple .cnWse_tMenu_Ovlp ul.cnWse_tMenu_Root>li,
.cnWse_Skin_Purple .cnWse_tMenu_Ovlp ul.cnWse_tMenu_Next>li
{
	border-bottom: 1px solid rgb(142, 34, 160);
}

.cnWse_Skin_Purple .cnWse_tMenu_Ovlp ul.cnWse_tMenu_Root>li:last-of-type,
.cnWse_Skin_Purple .cnWse_tMenu_Ovlp ul.cnWse_tMenu_Next>li:last-of-type
{
	border-bottom: none;
}

/* 四个箭头 */
.cnWse_Skin_Purple .cnWse_tMenu_Ovlp li>.cnWse_RtArw,
.cnWse_Skin_Purple .cnWse_tMenu_Ovlp li>.cnWse_UpArw,
.cnWse_Skin_Purple .cnWse_tMenu_Ovlp li>.cnWse_DnArw
{
	color: white;
}

/* 层叠式返回按钮 */
.cnWse_Skin_Purple .cnWse_tMenu_Ovlp li.cnWse_tMenu_BackLi
{
	text-align: center;
	border-bottom: 1px solid rgb(142, 34, 160);
}

/*********************************************** tAcod ***********************************************/

.cnWse_Skin_Purple .cnWse_tAcod_Tit,
.cnWse_Skin_Purple .cnWse_tAcod_Ctnt
{
	background: -webkit-linear-gradient(left, rgb(95%, 95%, 95%), rgb(95%, 95%, 95%) 40%, rgb(142, 34, 160) 90%, rgb(142, 34, 160));
	background: -moz-linear-gradient(left, rgb(95%, 95%, 95%), rgb(95%, 95%, 95%) 40%, rgb(142, 34, 160) 90%, rgb(142, 34, 160));
	background: -ms-linear-gradient(left, rgb(95%, 95%, 95%), rgb(95%, 95%, 95%) 40%, rgb(142, 34, 160) 90%, rgb(142, 34, 160));
	background: linear-gradient(left, rgb(95%, 95%, 95%), rgb(95%, 95%, 95%) 40%, rgb(142, 34, 160) 90%, rgb(142, 34, 160));
	box-shadow: 0px 10px 20px rgb(51, 51, 51);
}

/*********************************************** tNav ***********************************************/

.cnWse_Skin_Purple .cnWse_PutTgt.cnWse_tNav,
.cnWse_Skin_Purple .cnWse_tNav_Leaf
{
	background: -webkit-radial-gradient(50% 30%, circle, rgb(95%, 95%, 95%), rgb(95%, 95%, 95%) 20%, rgb(142, 34, 160) 90%, rgb(142, 34, 160));
	background: -moz-radial-gradient(50% 30%, circle, rgb(95%, 95%, 95%), rgb(95%, 95%, 95%) 20%, rgb(142, 34, 160) 90%, rgb(142, 34, 160));
	background: -ms-radial-gradient(50% 30%, circle, rgb(95%, 95%, 95%), rgb(95%, 95%, 95%) 20%, rgb(142, 34, 160) 90%, rgb(142, 34, 160));
	background: radial-gradient(50% 30%, circle, rgb(95%, 95%, 95%), rgb(95%, 95%, 95%) 20%, rgb(142, 34, 160) 90%, rgb(142, 34, 160));
}

/*********************************************** tSignLog ***********************************************/

.cnWse_Skin_Purple .cnWse_tSignLog
{
	background: -webkit-linear-gradient(top left, rgb(95%, 95%, 95%), rgb(95%, 95%, 95%) 40%, rgb(142, 34, 160) 90%, rgb(142, 34, 160));
	background: -moz-linear-gradient(top left, rgb(95%, 95%, 95%), rgb(95%, 95%, 95%) 40%, rgb(142, 34, 160) 90%, rgb(142, 34, 160));
	background: -ms-linear-gradient(top left, rgb(95%, 95%, 95%), rgb(95%, 95%, 95%) 40%, rgb(142, 34, 160) 90%, rgb(142, 34, 160));
	background: linear-gradient(top left, rgb(95%, 95%, 95%), rgb(95%, 95%, 95%) 40%, rgb(142, 34, 160) 90%, rgb(142, 34, 160));
}

/*********************************************************************** Over ***********************************************************************/