/*	复位
*
*/


/************************************************* 标准化 ************************************************
	http://meyerweb.com/eric/tools/css/reset/
	v2.0 | 20110126
	License: none (public domain)
*/

/* 所有元素和标记 */
*,
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	box-sizing: border-box;
	margin: 0px;
	border: none;
	padding: 0px;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	color: inherit;
}

/* 统一字体 */
html, body
{
	font-family: Arial, Helvetica, sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1.2;
}

ol {
	/*padding-left: 2em;*/
	list-style: decimal;
}

ul {
	/*padding-left: 2em;*/
	list-style: square;
}

input, button, select, textarea
{
	outline: none; /* Chrome <- 不用显示输入框的轮廓 */
}

textarea {
	resize: none; /* Chrome <- 禁止调整大小 */
	overflow: auto; /* IE <- 隐藏垂直滚动条 */
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

canvas {
	position: relative; /* 默认情况下画布总是相对定位，使其子元素能相对于画布定位 */
	left: 0px;
	top: 0px;
}

/* clear fix */
.cnWse_ClearFix {
	*zoom: 1;
}

	.cnWse_ClearFix:before, .cnWse_ClearFix:after {
		display: table;
		line-height: 0;
		content: "";
	}

.cnWse_ClearFix:after {
	clear: both;
}

/*********************************************************************** Over ***********************************************************************/
