/*	
*
*/

/************************************ PC **************************************/

.cnApp_Env.cnApp_PC .mi_product_itro {
	padding: 20px 30px 0px 30px;
	margin-bottom: 57px;
	color: rgb(6, 83, 157);
}

.cnApp_Env.cnApp_PC .mi_product_itro .mi_hdn {
	margin-bottom: 5px;
}

.cnApp_Env.cnApp_PC .mi_product_itro .mi_num_clo {
	color: rgb(255, 58, 0);
}

.cnApp_Env.cnApp_PC .mi_product_itro .mi_text_clo {
	color: rgb(80, 80, 80);
}

.cnApp_Env.cnApp_PC .mi_product_itro .mi_boa.mi_details {

}

.cnApp_Env.cnApp_PC .mi_product_itro .mi_boa.mi_details .mi_col.mi_0,
.cnApp_Env.cnApp_PC .mi_product_itro .mi_boa.mi_date_flow .mi_col.mi_0 {
	width: 500px;
}

.cnApp_Env.cnApp_PC .mi_product_itro .mi_boa.mi_details .mi_col.mi_1,
.cnApp_Env.cnApp_PC .mi_product_itro .mi_boa.mi_date_flow .mi_col.mi_1 {
	width: 240px;
	padding-left: 20px;
	color: rgb(80, 80, 80);
}

.cnApp_Env.cnApp_PC .mi_product_itro .mi_sldr_div .mi_btn.mi_arw {
	font-size: 40px;
	color: gray;
	vertical-align: top;
}

.cnApp_Env.cnApp_PC .mi_product_itro .mi_sldr_div .mi_sldr_slot {
	width: 400px;	/* 4×（5＋90＋5） */
	height: 50px;
}

.cnApp_Env.cnApp_PC .mi_product_itro .mi_sldr_div .mi_sldr_spc {
	width: 2000px;	/*先大一点*/
}

.cnApp_Env.cnApp_PC .mi_product_itro .mi_sldr_div .mi_item {
	width: 90px;
	height: 50px;
	margin: 0px 5px;
}

.cnApp_Env.cnApp_PC .mi_product_itro .mi_boa.mi_details .mi_col.mi_1 .mi_num.mi_hlgt {
	font-size: 30px;
	color: rgb(255, 58, 0);
}

.cnApp_Env.cnApp_PC .mi_product_itro .mi_boa.mi_details .mi_col.mi_1 .mi_clo_gold {
	color: rgb(232, 147, 19);
}

.cnApp_Env.cnApp_PC .mi_product_itro .mi_boa.mi_details .mi_col.mi_1 .mi_para {
	margin-bottom: 16px;
}

.cnApp_Env.cnApp_PC .mi_product_itro .mi_boa.mi_details .mi_col.mi_1 .mi_para.mi_last {
	margin-bottom: 24px;
}

.cnApp_Env.cnApp_PC .mi_product_itro .mi_boa.mi_details .mi_col.mi_1 .mi_btn.mi_rsrv {
	padding: 10px 30px;
	background-color: rgb(232, 147, 19);
	color: rgb(238, 238, 238);
}

.cnApp_Env.cnApp_PC .mi_product_itro .mi_boa.mi_date_flow {
	
}

.cnApp_Env.cnApp_PC .mi_product_itro .mi_boa.mi_date_flow .mi_flow {
	margin-top: 28px;
	border-left: 1px solid rgb(6, 83, 157);
}

.cnApp_Env.cnApp_PC .mi_product_itro .mi_boa.mi_date_flow .mi_flow .mi_hdn {
	padding: 15px 60px;
	background-color: rgb(6, 83, 157);
	font-size: 20px;
}

.cnApp_Env.cnApp_PC .mi_product_itro .mi_boa.mi_date_flow .mi_flow .mi_steps {
	padding: 20px 0px 20px 20px;
}

.cnApp_Env.cnApp_PC .mi_product_itro .mi_boa.mi_date_flow .mi_flow .mi_steps .mi_lab {
	background-color: rgb(6, 83, 157);
	margin-right: 1em;
	padding: 5px 10px;
	border-radius: 5px;
	border-top-right-radius: 30px 15px;
	border-bottom-right-radius: 30px 15px;
	color: white;
}

/*********************************************************************** Over ***********************************************************************/
