/*	
*
*/

/************************************ PC **************************************/

.cnApp_Env.cnApp_PC .mi_product_itro {
	padding: 20px 30px 0px 30px;
	margin-bottom: 57px;
	color: rgb(6, 83, 157);
}


/*********************************************************************** Over ***********************************************************************/
