/*	
*
*/



/******************************************* 分分商城 *******************************************/

.cnApp_PC .cnApp_SrchForm.cnApp_Sect .cnApp_Fld.cnApp_ProductName {
	width: 10em;
}

.cnApp_Sect {
	margin-bottom: 20px;
}

	.cnApp_Sect > .cnApp_Cptn {
		margin-bottom: 10px;
		padding-left: 10px;
		font-size: 20px;
		font-weight: bold;
	}

.cnApp_ItemList li {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px dashed rgb(200, 200, 200);
}

.cnApp_PC .cnApp_ItemList li {
	float: left;
	width: 256px;
	margin: 0px 5px 10px;
	border: 1px solid rgb(200, 200, 200);
}

.cnApp_TextBlk {
	display: inline-block;
	width: 50%;
	margin-bottom: 5px;
	font-size: 1em;
	text-align: center;
	vertical-align: bottom;
}

.cnApp_PC .cnApp_TextBlk.cnApp_Broad {
	width: 70%;
}

.cnApp_PC .cnApp_TextBlk.cnApp_Narrow {
	width: 30%;
}

.cnApp_TextBlk .cnApp_Price {
	color: rgb(128, 128, 128);
}

.cnApp_TextBlk .cnApp_Cptn {
	font-size: 16px;
	font-weight: bold;
}

/* 车票查询表单 */

.cnApp_TicketRsrv .cnApp_LabelDiv {
	background-color: rgb(247, 249, 252);
}

.cnApp_SrchForm .cnApp_SwapBtn {
	width: 4em;
	margin-bottom: 10px;
	border: 1px solid rgb(200, 200, 200);
	padding: 5px;
	text-align: center;
	background-color: rgb(22, 90, 159);
	color: white;
}

.cnApp_PC .cnApp_TicketRsrv .cnApp_SrchForm {
	text-align: center;
}

.cnApp_TicketRsrv .cnApp_SbmtBtnDiv {
	background-color: rgb(247, 249, 252);
}

.cnApp_PC .cnApp_Boa {
}

	.cnApp_PC .cnApp_Boa > .cnApp_Col {
		width: 50%;
	}

.cnApp_PC .cnApp_TicketRsrv .cnApp_Label {
	width: 192px;
	padding: 5px 10px;
	border-radius: 0px 5px 5px 0px;
}

.cnApp_PC .cnApp_TicketRsrv form {
	color: black;
	padding: 10px 5px;
	text-align: right;
	background-color: rgb(247, 249, 252);
}

.cnApp_PC .cnApp_TicketRsrv .cnApp_Fld {
}

	.cnApp_PC .cnApp_TicketRsrv .cnApp_Fld .cnApp_Lab {
		width: 30%;
		float: left;
		font-size: 14px;
		position: relative;
		top: 2px;
	}

	.cnApp_PC .cnApp_TicketRsrv .cnApp_Fld .cnApp_Ipt {
		float: left;
		border: 1px solid rgb(200, 200, 200);
	}

	.cnApp_PC .cnApp_TicketRsrv .cnApp_Fld.cnApp_City .cnApp_Ipt {
		width: 50%;
	}

	.cnApp_PC .cnApp_TicketRsrv .cnApp_Fld.cnApp_DateTime .cnApp_Ipt {
		width: 70%;
	}

	.cnApp_PC .cnApp_TicketRsrv .cnApp_Fld .cnApp_Ipt input,
	.cnApp_PC .cnApp_TicketRsrv .cnApp_Fld .cnApp_Ipt select {
		width: 100%;
	}

	.cnApp_PC .cnApp_TicketRsrv .cnApp_Fld.cnApp_Mgn {
		margin-bottom: 20px;
	}

.cnApp_PC .cnApp_TicketRsrv .cnApp_SwapBtn {
	position: relative;
	left: 158px;
	width: 2em;
	text-align: center;
}

	.cnApp_PC .cnApp_TicketRsrv .cnApp_SwapBtn .cnApp_RtTpBdr,
	.cnApp_PC .cnApp_TicketRsrv .cnApp_SwapBtn .cnApp_RtBmBdr {
		position: absolute;
		width: 10px;
		height: 10px;
		left: 0px;
		border-right: 1px dashed rgb(64, 64, 64);
	}

	.cnApp_PC .cnApp_TicketRsrv .cnApp_SwapBtn .cnApp_RtTpBdr {
		border-top: 1px dashed rgb(64, 64, 64);
		top: -10px;
	}

	.cnApp_PC .cnApp_TicketRsrv .cnApp_SwapBtn .cnApp_RtBmBdr {
		border-bottom: 1px dashed rgb(64, 64, 64);
		top: 25px;
	}

.cnApp_PC .cnApp_TicketRsrv .cnApp_SbmtBtnDiv {
	display: inline-block;
	width: 3em;
	margin-top: 5px;
	padding-top: 5px;
}

.cnApp_PC .cnWse_CarForm .cnApp_Col.cnApp_0 {
	width: 38%;
}

.cnApp_PC .cnWse_CarForm .cnApp_Col.cnApp_1 {
	width: 62%;
}

.cnApp_PC .cnWse_CarForm .cnApp_Col.cnApp_0 .cnApp_Lab {
	width: 40%;
}

.cnApp_PC .cnWse_CarForm .cnApp_Col.cnApp_0 .cnApp_Ipt {
	width: 60%;
}

.cnApp_Mbl .cnApp_TicketRsrv .cnApp_Mgn {
	margin-bottom: 10px;
}

/******************************************* 详情 *******************************************/

.cnApp_Heading .cnApp_Cptn .cnApp_Icon {
	margin-left: 5px;
	vertical-align: middle;
}

.cnApp_Heading, .cnApp_Sect {
	margin-bottom: 10px;
	/*padding: 10px 10px 0px 10px;*/
}

.cnApp_PC .cnApp_Heading, .cnApp_PC .cnApp_Sect {
}

.cnApp_Heading .cnApp_Cptn {
	margin: 10px 0px;
	padding: 0px 5px;
	font-size: 1.2em;
	font-weight: bold;
}

.cnApp_Heading .cnApp_Ctnt {
	margin-bottom: 10px;
	padding: 0px 5px;
}

.cnApp_Heading .cnApp_PntsAndAdrs .cnApp_Icon {
	margin-right: 0.5em;
}

.cnApp_Heading .cnApp_PntsAndAdrs .cnApp_Ctnt {
	vertical-align: super;
}

.cnApp_PC .cnApp_Heading .cnApp_Ctnt.cnApp_Adrs {
	float: left;
}

.cnApp_PC .cnApp_Heading .cnApp_PntsAndAdrs {
	width: 300px;
	position: absolute;
	right: 0px;
	top: -12px;
}

.cnApp_PC .cnApp_Heading .cnApp_TextBlk .cnApp_Ctnt {
	/*vertical-align: super;*/
}

.cnApp_PC .cnApp_Heading .cnApp_TextBlk .cnApp_Icon {
	margin-right: 0.5em;
}

.cnApp_Heading .cnApp_TextBlk.cnApp_Map {
	position: relative;
	top: 5px;
}


.cnApp_Map {
	margin-top: 10px;
}

.cnApp_Sect.cnApp_FloatingSect {
	/*margin-top: 34px;*/ /*硬编码？*/
}

.cnApp_Sect > .cnApp_TabCptn {
}

.cnApp_FloatingTabsDiv .cnApp_TabLink {
	display: inline-block;
	padding: 4px;
	border-right: 1px solid white;
	border-radius: 5px 5px 0px 0px;
	text-decoration: none;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	color: white;
}

.cnApp_Sect .cnApp_FloatingTabsDiv {
	visibility: hidden;
}

.cnApp_FloatingTabsDiv .cnApp_TabLink {
	width: auto;
	font-size: 16px;
	padding: 5px 5px;
}

	.cnApp_FloatingTabsDiv .cnApp_TabLink:last-of-type {
		border-right: none;
	}

	.cnApp_FloatingTabsDiv .cnApp_TabLink.cnApp_Crnt {
		background-color: rgb(255, 127, 0);
		background-image: none;
	}

#k_UserReview {
	padding-top: 0px;
}

	#k_UserReview .cnApp_Col.cnApp_0 {
		width: 30%;
		padding-right: 20px;
	}

	#k_UserReview .cnApp_Col.cnApp_1 {
		width: 70%;
	}

		#k_UserReview .cnApp_Col.cnApp_1 .cnApp_MgnRt {
			margin-right: 1em;
		}

		#k_UserReview .cnApp_Col.cnApp_1 .cnApp_MgnLt {
			margin-left: 3em;
		}

	#k_UserReview > .cnApp_TabCptn {
		margin-bottom: 10px;
	}

	#k_UserReview > .cnApp_TabCtnt {
		margin-bottom: 10px;
		padding: 0px 10px;
	}

	#k_UserReview img.cnApp_FloatToLt {
		margin: 0 1em 10px 0;
	}

	#k_UserReview .cnApp_TabCtnt .cnApp_Para {
		margin-bottom: 10px;
	}

	#k_UserReview .cnApp_Point {
		display: inline-block;
		text-decoration: none;
		margin: 0px 8px 0px 0px;
	}

.cnApp_PC #k_UserReview .cnApp_Point {
	margin-right: 1em;
}

#k_UserReview .cnApp_Point:last-of-type {
	margin: 0px;
}

#k_UserReview .cnApp_List {
	clear: both;
	margin-top: 10px;
}

	#k_UserReview .cnApp_List > li {
		padding-bottom: 5px;
		border-bottom: 1px dashed rgb(200, 200, 200);
		margin-bottom: 10px;
	}

#k_UserReview .cnApp_Score {
}

	#k_UserReview .cnApp_Score .cnApp_Text {
		margin-left: 1em;
		vertical-align: top;
	}

#k_UserReview .cnApp_Desc {
}

#k_UserReview .cnApp_Detail {
	color: rgb(128, 128, 128);
}

.cnApp_PC #k_UserReview .cnApp_Desc {
	color: black;
}


#k_UserReview .cnApp_Detail .cnApp_Text {
	display: inline-block;
	margin: 0px 1em 0px 0px;
}

/*********************************************************************** Over ***********************************************************************/
