/*	
*
*/


/******************************************* 共同 *******************************************/


/******************************************* 分权卡详情列表 *******************************************/

.cnApp_AlternativeListDiv, .cnApp_HotRcmdDiv {
	margin: 0px 10px;
	background-color: rgb(243, 243, 243);
}

ul.cnApp_AlternativeList {
}

	/*详情列表*/
	ul.cnApp_AlternativeList.cnApp_DetailsList {
	}

li.cnApp_Details {
	margin-bottom: 10px;
	background-color: rgb(243, 243, 243);
}

	li.cnApp_Details > img {
		margin-bottom: 10px;
	}

	li.cnApp_Details .cnApp_Cptn {
		margin-bottom: 10px;
		font-size: 1.2em;
		font-weight: bold;
	}

	li.cnApp_Details .cnApp_Ctnt {
		margin-bottom: 10px;
		line-height: 1.2;
		font-size: 1em;
		font-weight: normal;
	}

	li.cnApp_Details .cnApp_DetailsSumr {
		padding: 10px;
	}

.cnApp_AdrsPrc, .cnApp_ClkForLearn {
	margin-bottom: 5px;
}

	.cnApp_AdrsPrc .cnApp_Icon {
		margin-right: 0.5em;
	}

	.cnApp_AdrsPrc .cnApp_Text {
		vertical-align: super;
	}

.cnApp_DetailsSumr .cnApp_ClkForLearn a {
	text-decoration: none;
}

li.cnApp_Details .cnApp_Cptn,
li.cnApp_Details .cnApp_Ctnt {
	padding: 0px 10px;
}

/*推荐列表*/
.cnApp_HotRcmdDiv {
	padding-top: 20px;
}

	.cnApp_HotRcmdDiv .cnApp_LabelDiv {
		left: auto;
		right: -8px;
	}

		.cnApp_HotRcmdDiv .cnApp_LabelDiv > img {
			position: relative;
			left: 10px;
		}

ul.cnApp_AlternativeList.cnApp_RcmdList {
}

.cnApp_Rcmd {
	margin-bottom: 10px;
}

	.cnApp_Rcmd > img {
		margin-bottom: 10px;
	}

.cnApp_ProductInfo {
	padding-bottom: 10px;
}


/******************************************* 分权卡产品详情 *******************************************/

.cnApp_Sect {
	background-color: rgb(243, 243, 243);
	margin-bottom: 10px;
	padding: 10px;
}

	.cnApp_Sect .cnApp_Sect
	{
		padding: 10px 0px;
	}

	.cnApp_Sect > .cnApp_Cptn {
		margin-bottom: 10px;
		font-size: 1.2em;
		font-weight: bold;
	}

	.cnApp_Sect > .cnApp_Ctnt {
		color: rgb(140, 140, 140);
		font-size: 1em;
	}

.cnApp_ProductName {
	margin-top: 20px; /*由于没有横幅图像，所以在这里增加一些空白*/
}

	.cnApp_ProductName > .cnApp_Cptn {
	}

	.cnApp_ProductName > figure {
		float: right;
		padding: 5px;
		text-align: center;
	}


.cnApp_ProductSumr {
}

	.cnApp_ProductSumr > .cnApp_Ctnt {
		margin-bottom: 10px;
	}

	.cnApp_ProductSumr > .cnApp_Btn {
		margin: 0px auto;
		width: 100%;
		font-size: 16px;
		padding: 10px;
		border-radius: 50%/18px;
		text-align: center;
		color: white;
	}

		.cnApp_ProductSumr > .cnApp_Btn:active {
			color: red;
		}

.cnApp_ProductDetails p {
	margin-bottom: 10px;
}




/*立即购买*/
.cnApp_ImdtBuy .cnApp_tTabs > .cnApp_CptnGrp > .cnApp_Cptn {
	width: 50%;
	color: white;
}

.cnApp_ImdtBuy .cnApp_tTabs .cnApp_ImgDiv {
	/*float: left;*/
	text-align: center;
}

.cnApp_ImdtBuy li.cnApp_Product {
	list-style-type: none;
}

.cnApp_ImdtBuy li.cnApp_Product {
	margin-bottom: 10px;
}

	.cnApp_ImdtBuy li.cnApp_Product > .cnApp_Cptn {
		margin-bottom: 10px;
		font-weight: bold;
		font-size: 16px;
	}

	.cnApp_ImdtBuy li.cnApp_Product > .cnApp_Ctnt {
		font-size: 14px;
		margin-bottom: 10px;
	}

	.cnApp_ImdtBuy li.cnApp_Product > .cnApp_Price {
		margin-bottom: 10px;
	}

		.cnApp_ImdtBuy li.cnApp_Product > .cnApp_Price > .cnApp_Icon {
			margin-right: 5px;
		}

		.cnApp_ImdtBuy li.cnApp_Product > .cnApp_Price > .cnApp_Text {
			vertical-align: super;
		}

	.cnApp_ImdtBuy li.cnApp_Product > .cnApp_ConsultAndBuy {
		border-bottom: 1px dashed rgb(51, 51, 51);
		padding-bottom: 5px;
		text-align: center;
	}

		.cnApp_ImdtBuy li.cnApp_Product > .cnApp_ConsultAndBuy > .cnApp_Btn {
			width: 100px;
			margin: 0px 10px;
			border: 1px solid rgb(4, 35, 117);
			padding: 10px;
			font-size: 16px;
			border-radius: 50px/18px;
			color: white;
			position: relative;
			top: -5px;
			box-shadow: 0px 5px 10px rgb(51, 51, 51);
		}

			.cnApp_ImdtBuy li.cnApp_Product > .cnApp_ConsultAndBuy > .cnApp_Btn:active {
				top: 0px;
				box-shadow: 0px 5px 5px rgb(51, 51, 51);
			}



/*********************************************************************** Over ***********************************************************************/
