/*	
*
*/



/******************************************* 抽奖 *******************************************/

.cnApp_Sprite {
	background-color: transparent;
	background-image: url("../images/抽奖/抽奖精灵图.png");
	background-repeat: no-repeat;
	background-size: initial;
	/*display: inline-block;*/
}

	.cnApp_Sprite.cnApp_0 {
		background-position: 0px 0px;
		width: 221px;
		height: 90px;
		top: -93px;
	}

	.cnApp_Sprite.cnApp_1 {
		background-position: 0px -90px;
		width: 221px;
		height: 76px;
		top: -67px;
	}

	.cnApp_Sprite.cnApp_2 {
		background-position: 0px -166px;
		width: 221px;
		height: 43px;
		top: -45px;
	}

	.cnApp_Sprite.cnApp_3 {
		background-position: 0px -209px;
		width: 221px;
		height: 35px;
		top: -37px;
	}

	.cnApp_Sprite.cnApp_4 {
		background-position: 0px -245px;
		width: 48px;
		height: 44px;
		right: -24px;
	}

	.cnApp_Sprite.cnApp_5 {
		background-position: -50px -245px;
		width: 48px;
		height: 44px;
		left: -24px;
	}

	.cnApp_Sprite.cnApp_6 {
		background-position: -98px -245px;
		width: 48px;
		height: 44px;
		right: -24px;
	}

	.cnApp_Sprite.cnApp_7 {
		background-position: -147px -245px;
		width: 48px;
		height: 44px;
		left: -24px;
	}

	.cnApp_Sprite.cnApp_8 {
		background-position: -220px 0px;
		width: 156px;
		height: 178px;
	}

	.cnApp_Sprite.cnApp_9 {
		background-position: -221px -179px;
		width: 156px;
		height: 104px;
		top: 124px;
	}

	.cnApp_Sprite.cnApp_10 {
		background-position: -1px -291px;
		width: 20px;
		height: 20px;
		left: 58px;
		top: 81px;
	}

	.cnApp_Sprite.cnApp_11 {
		background-position: -22px -291px;
		width: 20px;
		height: 20px;
		left: 58px;
		top: 81px;
	}

	.cnApp_Sprite.cnApp_12 {
		background-position: -44px -290px;
		width: 12px;
		height: 22px;
	}

	.cnApp_Sprite.cnApp_20 {
		background-position: 0px -323px;
		width: 306px;
		height: 127px;
	}

	.cnApp_Sprite.cnApp_21 {
		background-position: 0px -450px;
		width: 420px;
		height: 85px;
	}

/***************** 内容 ******************/

.cnApp_InitDsplNone {
	display: none;
}

.cnApp_DlgDiv .cnApp_ClsDiv {
	text-align: right;
	font-size: 24px;
	padding-top: 0px;
	padding-right: 30px;
}

	.cnApp_DlgDiv .cnApp_ClsDiv .cnApp_Btn {
		padding: 5px 10px;
	}

#k_CalcMethodsDlg {
	position: fixed;
	width: 716px;
	height: 480px;
	left: 0px;
	top: 0px;
	color: white;
	z-index: 10000;
}

	#k_CalcMethodsDlg .cnApp_Cptn, #k_CalcMethodsDlg .cnApp_Ctnt {
		padding-left: 30px;
		color: white;
	}

	#k_CalcMethodsDlg .cnApp_Cptn {
		font-size: 18px;
		margin-bottom: 10px;
	}

#k_SuccessDlg {
	position: fixed;
	width: 672px;
	height: 458px;
	left: 0px;
	top: 0px;
	box-shadow: 4px 4px 0px rgb(168, 5, 5);
	color: white;
	text-align: center;
	z-index: 10000;
}

#k_Monster {
	position: absolute;
	width: 156px;
	height: 228px;
}

#k_MonsterHead {
	position: absolute;
	width: 156px;
	height: 178px;
	left: 826px;
	top: -76px;
}

	#k_MonsterHead.cnApp_Lt {
		left: 66px;
	}

#k_CalcMethodsDlg #k_Monster {
	left: 480px;
	right: auto;
	top: 206px;
	bottom: auto;
}

#k_SuccessDlg #k_Monster {
	left: 60px;
	right: auto;
	top: 30px;
	bottom: auto;
}

#k_MonsterWords {
	position: absolute;
	left: 580px;
	top: -50px;
	font-size: 30px;
	color: white;
	-webkit-transform: rotateX(-10deg) rotateY(35deg);
	-moz-transform: rotateX(-10deg) rotateY(35deg);
	-ms-transform: rotateX(-10deg) rotateY(35deg);
	-o-transform: rotateX(-10deg) rotateY(35deg);
	transform: rotateX(-10deg) rotateY(35deg);
}

	#k_MonsterWords.cnApp_Lt {
		left: 136px;
		-webkit-transform: rotateX(-10deg) rotateY(-35deg);
		-moz-transform: rotateX(-10deg) rotateY(-35deg);
		-ms-transform: rotateX(-10deg) rotateY(-35deg);
		-o-transform: rotateX(-10deg) rotateY(-35deg);
		transform: rotateX(-10deg) rotateY(-35deg);
	}

#k_SuccessDlg .cnApp_Congratulations {
	position: absolute;
	left: 240px;
	top: 80px;
}

#k_SuccessDlg .cnApp_Ctnt {
	position: absolute;
	left: 200px;
	top: 210px;
	font-size: 24px;
	text-align: left;
}

.cnApp_DlgDiv .cnApp_Ctnt .cnApp_BtnDiv {
	text-align: left;
	margin: 20px 0px;
}

.cnApp_DlgDiv .cnApp_Ctnt .cnApp_Btn {
	display: inline-block;
	padding: 10px 40px;
	border-radius: 5px;
	background-color: rgb(255, 203, 0);
	color: rgb(236, 48, 47);
	box-shadow: 0px 5px 0px rgb(146, 117, 2), 0px 5px 10px rgb(0, 0, 0);
	margin-left: 50px;
}

#k_SuccessDlg .cnApp_Num {
	font-size: 48px;
}

#k_FailedDlg {
	position: fixed;
	width: 672px;
	height: 458px;
	left: 0px;
	top: 0px;
	box-shadow: 4px 4px 0px rgb(0, 0, 0);
	color: white;
	z-index: 10000;
	background-color: rgb(64, 64, 64);
}

	#k_FailedDlg .cnApp_Sorry {
		position: absolute;
		left: 220px;
		top: 80px;
	}

	#k_FailedDlg .cnApp_Ctnt {
		position: absolute;
		left: 200px;
		top: 200px;
		font-size: 24px;
	}

	#k_FailedDlg #k_Monster {
		left: 35px;
		right: auto;
		top: 31px;
		bottom: auto;
	}

		#k_FailedDlg #k_Monster .cnApp_L1, #k_FailedDlg #k_Monster .cnApp_L2, #k_FailedDlg #k_Monster .cnApp_L3 {
			left: 35px;
		}

		#k_FailedDlg #k_Monster .cnApp_R1, #k_FailedDlg #k_Monster .cnApp_R2, #k_FailedDlg #k_Monster .cnApp_R3 {
			left: 95px;
		}

		#k_FailedDlg #k_Monster .cnApp_L1, #k_FailedDlg #k_Monster .cnApp_R1 {
			top: 88px;
		}

		#k_FailedDlg #k_Monster .cnApp_L2, #k_FailedDlg #k_Monster .cnApp_R2 {
			top: 112px;
		}

		#k_FailedDlg #k_Monster .cnApp_L3, #k_FailedDlg #k_Monster .cnApp_R3 {
			top: 138px;
		}




/* 头和环境 */

.cnApp_DrawHeader {
	position: relative;
	left: 0px;
	top: 0px;
	background-color: transparent;
	background-image: url("../images/抽奖/BG.jpg");
	background-repeat: no-repeat;
	background-size: initial;
	background-position: center top;
	height: 635px;
}

	.cnApp_DrawHeader .cnApp_EarthDiv {
		position: absolute;
		left: 0px;
		top: 50px;
		width: 100%;
		text-align: center;
		/*padding-top: 160px;*/
		z-index: 1;
	}

	.cnApp_DrawHeader .cnApp_CptnDiv {
		position: absolute;
		left: 0px;
		top: 160px;
		width: 100%;
		text-align: center;
		/*padding-top: 160px;*/
		z-index: 2;
	}

	.cnApp_DrawHeader .cnApp_Join {
		position: absolute;
		left: 0px;
		bottom: 0px;
		width: 100%;
		text-align: center;
		font-size: 48px;
		font-weight: bold;
	}

	.cnApp_DrawHeader .cnApp_BtnDiv.cnApp_Draw {
		display: inline-block;
		padding: 10px 80px;
		border-radius: 5px;
		background-color: rgb(255, 203, 0);
		color: rgb(236, 48, 47);
		box-shadow: 0px 5px 0px rgb(146, 117, 2), 0px 5px 10px rgb(0, 0, 0);
		cursor: pointer;
	}

	.cnApp_DrawHeader .cnApp_People {
		margin-top: 30px;
		text-align: center;
		font-size: 16px;
		color: rgb(255, 203, 0);
	}

	.cnApp_DrawHeader .cnApp_Num {
		background-color: rgb(255, 203, 0);
		color: rgb(236, 48, 47);
		padding: 0px 10px;
		margin-right: 1em;
	}

.cnApp_RedBkgd {
	background-color: rgb(236, 48, 47);
}

.cnApp_Env.cnApp_PC * {
	color: inherit;
}

.cnApp_Env strong {
	font-weight: bold;
}

.cnApp_Env .cnApp_Sect {
	padding: 0px 45px;
	border-top: 1px solid transparent;
}

.cnApp_Env .cnApp_TabDiv {
	margin: 30px 30px 0px 30px;
	color: white;
	text-align: center;
	background-color: rgba(94, 19, 19, 0.2);
	background-clip: content-box;
	border-radius: 0px 0px 1em 1em;
}

	.cnApp_Env .cnApp_TabDiv .cnApp_Cptn {
		padding: 10px;
		background-color: rgba(0, 0, 0, 0.5);
		color: white;
		font-weight: bold;
	}

	.cnApp_Env .cnApp_TabDiv table {
	}

	.cnApp_Env .cnApp_TabDiv tr:first-of-type > td {
		padding-top: 20px;
	}

	.cnApp_Env .cnApp_TabDiv tr:last-of-type > td {
		padding-bottom: 20px;
	}

	.cnApp_Env .cnApp_TabDiv th {
		background-color: rgba(0, 0, 0, 0.2);
		color: white;
		text-align: center;
	}

	.cnApp_Env .cnApp_TabDiv td {
		color: white;
		text-align: center;
	}

.cnApp_Env .cnApp_hn {
	margin-top: 1em;
}

	.cnApp_Env .cnApp_hn:first-of-type {
		margin-top: 0px;
	}

.cnApp_Env .cnApp_WhiteSpc {
	display: inline-block;
	width: 64px;
}

.cnApp_Env .cnApp_Rules .cnApp_WhiteSpc {
	width: 26px;
}

.cnApp_Env .cnApp_Declaration {
	color: rgb(89, 3, 3);
	text-align: center;
	padding: 40px 0px 40px 0px;
}

.cnApp_Env .cnApp_Sect.cnApp_Introduction {
	margin-top: 115px;
}

.cnApp_Env .cnApp_Sect.cnApp_Details {
	margin-top: 50px;
}

.cnApp_Env .cnApp_Sect.cnApp_Rules {
	margin-top: 60px;
}

.cnApp_Env .cnApp_Sect.cnApp_Methods {
	margin-top: 30px;
}

.cnApp_Env .cnApp_Sect.cnApp_Accomplished {
	margin-top: 0px;
}

	.cnApp_Env .cnApp_Sect.cnApp_Accomplished .cnApp_TabDiv {
		-webkit-perspective: 500px;
		-moz-perspective: 500px;
		-ms-perspective: 500px;
		-o-perspective: 500px;
		perspective: 500px;
	}

.cnApp_Env .cnApp_Sect .cnApp_BdrZone {
	position: relative;
	left: 0px;
	top: 0px;
	width: 1086px;
	padding: 30px 30px 0px 30px;
	color: rgb(89, 3, 3);
	line-height: 1.8;
}

.cnApp_Env .cnApp_Sect.cnApp_Introduction .cnApp_BdrZone {
	border: 3px solid rgb(255, 235, 47);
	border-left: none;
	border-bottom: none;
	border-radius: 0px 24px 0px 0px;
}

.cnApp_Env .cnApp_Sect.cnApp_Details .cnApp_BdrZone {
	border: 3px solid rgb(5, 208, 255);
	border-right: none;
	border-bottom: none;
	border-radius: 24px 0px 0px 0px;
}

.cnApp_Env .cnApp_Sect.cnApp_Rules .cnApp_BdrZone {
	border: 3px solid rgb(78, 48, 112);
	border-left: none;
	border-bottom: none;
	border-radius: 0px 24px 0px 0px;
}

.cnApp_Env .cnApp_Sect.cnApp_Methods .cnApp_BdrZone {
	border: 3px solid rgb(200, 218, 43);
	border-right: none;
	border-bottom: none;
	border-radius: 24px 0px 0px 0px;
	width: 50%;
	margin-left: 50%;
}

.cnApp_Env .cnApp_Sect.cnApp_Introduction .cnApp_BdrZone .cnApp_Cptn {
	font-size: 24px;
	color: rgb(255, 235, 47);
	right: 45px;
	top: -35px;
}

.cnApp_Env .cnApp_Sect.cnApp_Details .cnApp_BdrZone .cnApp_Cptn {
	font-size: 24px;
	color: rgb(5, 208, 255);
	left: 45px;
	top: -35px;
}

.cnApp_Env .cnApp_Sect.cnApp_Rules .cnApp_BdrZone .cnApp_Cptn {
	font-size: 24px;
	color: rgb(78, 48, 112);
	right: 45px;
	top: -35px;
}

.cnApp_Env .cnApp_Sect.cnApp_Methods .cnApp_BdrZone .cnApp_Cptn {
	font-size: 24px;
	color: rgb(200, 218, 43);
	left: 45px;
	top: -35px;
}

.cnApp_Env .cnApp_BtnDiv {
	margin-top: 20px;
	padding-left: 30px;
}

	.cnApp_Env .cnApp_BtnDiv .cnApp_Btn {
		background-color: rgb(255, 235, 47);
		padding: 5px 10px;
		color: rgb(220, 30, 30);
		border-radius: 4px;
		font-weight: bold;
		box-shadow: 0px 2px 2px rgb(51, 51, 51);
	}

.cnApp_Env .cnApp_Sect.cnApp_Rules .cnApp_Btn {
	display: inline-block;
	background-color: rgb(89, 3, 3);
	color: white;
	margin-left: 0.5em;
	padding: 0px 10px;
}

/******************** 手机 ********************/


/*.cnApp_Mbl .cnApp_Sprite {
	background-color: transparent;
	background-image: url("../images/抽奖/手机版精灵图.png");
	background-repeat: no-repeat;
	background-size: initial;
}

	.cnApp_Mbl .cnApp_Sprite.cnApp_0 {
		background-position: 0px 0px;
		width: 143px;
		height: 111px;
	}*/

.cnApp_Env.cnApp_Mbl {
	background-color: rgb(236, 48, 47);
}

	.cnApp_Env.cnApp_Mbl .cnApp_Sect {
		margin: 0px;
		padding: 0px;
	}

	.cnApp_Env.cnApp_Mbl .cnApp_Join {
		position: relative;
		left: 0px;
		top: 0px;
	}

	.cnApp_Env.cnApp_Mbl .cnApp_ActTime {
		text-align: right;
		position: absolute;
		width: 72px;
		height: auto;
		right: 20px;
		top: -20px;
	}

	.cnApp_Env.cnApp_Mbl .cnApp_ActTime img {
		width: 100%;
	}

.cnApp_Mbl .cnApp_DrawHeader {
	background-size: 160%;
	min-height: 184px;
	height: auto;
}

.cnApp_Env.cnApp_Mbl .cnApp_BtnDiv {
	margin-top: 10px;
	padding-left: 0px;
	text-align: center;
}

.cnApp_Mbl .cnApp_DrawHeader .cnApp_BtnDiv.cnApp_Draw {
	margin: 0px;
	padding: 0px;
	font-size: 16px;
}

.cnApp_Mbl .cnApp_DrawHeader .cnApp_EarthDiv {
	top: 10px;
}

	.cnApp_Mbl .cnApp_DrawHeader .cnApp_EarthDiv img {
		width: 40%;
	}

.cnApp_Mbl .cnApp_DrawHeader .cnApp_CptnDiv {
	top: 50px;
}

	.cnApp_Mbl .cnApp_DrawHeader .cnApp_CptnDiv img {
		width: 40%;
	}

.cnApp_Env.cnApp_Mbl .cnApp_Sect {
	margin-top: 20px;
}

.cnApp_Env.cnApp_Mbl .cnApp_TabDiv .cnApp_Cptn {
	padding: 5px;
	font-size: 14px;
}

.cnApp_Env.cnApp_Mbl .cnApp_TabDiv {
	margin: 0px;
	padding: 0px;
}

.cnApp_Env.cnApp_Mbl table th, .cnApp_Env.cnApp_Mbl table td {
	margin: 0px;
	padding: 2px;
	font-size: 12px;
}

.cnApp_Env.cnApp_Mbl .cnApp_Sect {
	color: white;
}

	.cnApp_Env.cnApp_Mbl .cnApp_Sect .cnApp_hn, .cnApp_Env.cnApp_Mbl .cnApp_Sect p {
		line-height: 1.8;
		padding: 0px 5px;
	}

	.cnApp_Env.cnApp_Mbl .cnApp_Sect .cnApp_WhiteSpc {
		width: 0px;
	}

	.cnApp_Env.cnApp_Mbl .cnApp_Sect .cnApp_CptnLab {
		display: inline-block;
		text-align: center;
		font-weight: bold;
		border-bottom-left-radius: 100px 50px;
		border-bottom-right-radius: 100px 50px;
		padding: 10px 10px;
		margin-bottom: 10px;
		background-color: rgb(255, 203, 0);
		color: rgb(236, 48, 47);
		box-shadow: 0px 5px 15px rgb(51, 51, 51);
		background-image: -webkit-linear-gradient(top, rgba(248, 225, 119,1) 0%, rgba(255, 203, 0,1) 100%);
		background-image: -moz-linear-gradient(top, rgba(248, 225, 119,1) 0%, rgba(255, 203, 0,1) 100%);
		background-image: -ms-linear-gradient(top, rgba(248, 225, 119,1) 0%, rgba(255, 203, 0,1) 100%);
		background-image: -o-linear-gradient(top, rgba(248, 225, 119,1) 0%, rgba(255, 203, 0,1) 100%);
		background-image: linear-gradient(top, rgba(248, 225, 119,1) 0%, rgba(255, 203, 0,1) 100%);
	}

.cnApp_Env.cnApp_Mbl .cnApp_Declaration {
	text-align: left;
	font-weight: bold;
}

/*********************************************************************** Over ***********************************************************************/
