/*	
*
*/

form {
	border: 1px solid rgb(212, 212, 212);
	background-color: rgb(248, 249, 253);
	margin: 0px 10px;
	padding: 20px 10px 0px 10px;
}

input {
	background-color: transparent;
}

/******************************************* 注册 *******************************************/

/************** Mbl **************/

.cnApp_FlowChart {
	margin: 10px 0px 20px;
	/*background-color*/
	font-size: 1em;
}

	.cnApp_FlowChart .cnApp_Step {
		padding: 5px;
	}

		.cnApp_FlowChart .cnApp_Step.cnApp_Crnt {
			border-radius: 0 1em 1em 0;
			background-color: rgb(4, 35, 117);
			color: white;
		}

.cnApp_Fld {
	margin-bottom: 20px;
}

	.cnApp_Fld .cnApp_Lab, .cnApp_Fld .cnApp_Ipt {
		border: 1px solid rgb(4, 35, 117);
	}

	.cnApp_Fld .cnApp_Lab {
		border-color: transparent;
	}

	.cnApp_Fld .cnApp_Rqrd {
		margin-left: 5px;
		color: rgb(255, 106, 0);
		font-size: 18px;
	}

	.cnApp_Fld .cnApp_Ipt {
		padding: 10px;
	}

	.cnApp_Fld .cnApp_Vldt {
		margin-top: 10px;
		font-size: 1em;
		display: none; /*初始隐藏*/
	}

		.cnApp_Fld .cnApp_Vldt .cnApp_Icon {
			margin-right: 0.5em;
		}

		.cnApp_Fld .cnApp_Vldt .cnApp_Text {
			color: rgb(255, 106, 0);
			vertical-align: text-top;
		}

	.cnApp_Fld .cnApp_Ipt input {
		width: 100%;
		color: inherit;
	}

	.cnApp_Fld.cnWse_Sms .cnApp_Ipt {
		padding: 5px 10px;
	}

		.cnApp_Fld.cnWse_Sms .cnApp_Ipt input {
			width: 50%;
			float: left;
			padding: 5px 0px;
		}

.cnApp_GetSmsCode {
	width: 50%;
	float: left;
	padding: 5px 0px;
	text-align: center;
	color: white;
}

.cnApp_Agreement {
	margin-bottom: 20px;
	font-size: 1em;
}

	.cnApp_Agreement input {
		margin-right: 0.5em;
		width: 1em;
		height: 1em;
		vertical-align: bottom;
	}

	.cnApp_Agreement a {
		text-decoration: none;
		color: blue;
	}

.cnApp_ToLogIn {
	margin-bottom: 20px;
	text-align: right;
}

	.cnApp_ToLogIn a {
		text-decoration: none;
	}

/**************** PC ****************/

.cnApp_PC .cnApp_FlowChart {
	margin-bottom: 20px;
	border-radius: 5px;
	background-color: rgb(243, 243, 243);
	font-size: 1em;
	text-align: center;
}

	.cnApp_PC .cnApp_FlowChart .cnApp_Step {
		display: inline-block;
		width: 25%;
		padding: 10px;
		border-radius: 5px 1em 1em 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 3em 1.5em;
		border-bottom-right-radius: 3em 1.5em;
		border-bottom-left-radius: 5px;
	}

		.cnApp_PC .cnApp_FlowChart .cnApp_Step.cnApp_Crnt {
			background-color: rgb(4, 35, 117);
			color: white;
		}

.cnApp_PC .cnApp_Fld .cnApp_Lab {
	float: left;
	width: 6em;
	padding: 10px;
	text-align: right;
}

.cnApp_PC .cnApp_Fld .cnApp_Ipt {
	float: left;
	width: 20em;
}

.cnApp_Fld .cnApp_Ipt.cnApp_Captcha {
	width: 8em;
	margin-right: 1em;
}

.cnApp_Mbl .cnApp_Fld .cnApp_Ipt.cnApp_Captcha {
	float: left;
	width: 6em;
	margin-right: 5px;
}

.cnApp_Fld .cnApp_ChgCaptcha {
	float: left;
}

	.cnApp_Fld .cnApp_ChgCaptcha > .cnApp_Text {
		display: inline-block;
		padding-top: 15px;
		vertical-align: top;
		font-size: 14px;
		margin-left: 1em;
		text-decoration: none;
	}

.cnApp_PC .cnApp_Sbmt {
	margin-left: 6em;
	width: 8em;
}

/******************************************* 登录 *******************************************/

.cnApp_ToSignIn {
	margin-bottom: 20px;
	text-align: right;
}

	.cnApp_ToSignIn a {
		text-decoration: none;
		font-size: 1em;
	}

		.cnApp_ToSignIn a:visited {
		}

		.cnApp_ToSignIn a:hover {
		}

		.cnApp_ToSignIn a:active {
		}

.cnApp_AcntPswd {
	margin-bottom: 20px;
	border: 1px solid rgb(23, 38, 67);
	padding: 10px;
}

	.cnApp_AcntPswd input {
		width: 50%; /* 将使用Js修正 */
		padding-left: 0.5em;
	}

.cnApp_Sbmt {
	padding: 12px;
	margin-bottom: 20px;
}

	.cnApp_Sbmt [type=submit] {
		display: block;
		width: 100%;
		color: white;
		background-color: transparent;
	}

.cnApp_FgtPswd {
	margin-bottom: 20px;
	text-align: right;
}

	.cnApp_FgtPswd a {
		text-decoration: none;
	}

.cnApp_ImdtLogIn {
	line-height: 1.5;
}

	.cnApp_ImdtLogIn a {
		text-decoration: none;
	}

/*********************************************************************** Over ***********************************************************************/
