/*	
*
*/


/******************************** 精灵图 ********************************/

.mi_icon {
	background-color: transparent;
	background-image: url("../images/sprite.png");
	background-repeat: no-repeat;
	background-size: initial;
	display: inline-block;
}

	.mi_icon.mi_0 {
		background-position: 0px 0px;
		width: 111px;
	}

	.mi_icon.mi_0,
	.mi_menu_bm .mi_boa.mi_nav .mi_list > li.mi_logo a {
		height: 98px; /*图标与容器一样高！加图标是为了在旋转过程中单击时，仍能点中链接，所以才把链接和图标分开。*/
	}

	.mi_icon.mi_1 {
		background-position: -1px -100px;
		width: 48px;
		height: 48px;
	}

	.mi_icon.mi_2, .mi_icon.mi_wait {
		background-position: -51px -100px;
		width: 44px;
		height: 44px;
	}

	.mi_icon.mi_3, .mi_icon.mi_slcd {
		background-position: -96px -100px;
		width: 44px;
		height: 44px;
	}

	.mi_icon.mi_50 {
		background-position: -112px 0px;
		width: 146px;
		height: 43px;
	}

	.mi_icon.mi_51 {
		background-position: -113px -44px;
		width: 93px;
		height: 22px;
	}

	.mi_icon.mi_52 {
		background-position: -113px -67px;
		width: 93px;
		height: 22px;
	}

	.mi_icon.mi_53 {
		background-position: -111px -98px;
		width: 128px;
		height: 47px;
	}

/******************************** 本项目的OOCSS ********************************/

/* html */
html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: rgb(18, 17, 35);
}

/* 文字 */
.mi_nml_font_clo {
	color: rgb(156, 140, 114);
}

/* 背景 */
.mi_bkgd, .mi_bkgd_anmt {
	background-position: center center;
	background-size: 100% 100%;
}

.mi_bkgd_anmt {
	-webkit-animation: mi_bkgd_scl 4s ease-in-out infinite alternate 0s backwards;
	-moz-animation: mi_bkgd_scl 4s ease-in-out infinite alternate 0s backwards;
	-ms-animation: mi_bkgd_scl 4s ease-in-out infinite alternate 0s backwards;
}

/******************************** 共同 ********************************/

/* 文字渐变 */
.mi_text_grad_tp {
	/*color: rgb(221, 208, 200);*/
	color: rgb(254, 242, 196);
	clip: rect(0px, 2000px, 0.6em, 0px); /* 0.5em过短 */
}

.mi_text_grad_bm {
	/*color: rgb(204, 164, 98);*/
	color: rgb(202, 158, 90);
}

/* 布局环境和菜单 */
.mi_lot_env {
	width: 100%;
	height: 100%;
	z-index: 100;
	font-family: 微软雅黑;
	overflow: hidden; /*预防动画溢出*/
	cursor: default;
}

.mi_menu_bm, .mi_pnl {
	position: fixed;
	width: 100%;
	/*height: 80px;*/
	z-index: 1000;
}

	.mi_menu_bm .mi_boa.mi_nav {
		background-color: rgb(2, 27, 67);
		padding-top: 1px; /*为遮罩预留空间，以防悬停链接的渐变与遮罩相撞*/
	}

		.mi_menu_bm .mi_boa.mi_nav > .mi_bdr_grad_mask {
			/*background-color: rgb(204, 164, 98);*/
			background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(204, 164, 98, 1) 50%, rgba(0, 0, 0, 0) 100%);
			background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(204, 164, 98, 1) 50%, rgba(0, 0, 0, 0) 100%);
			background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(204, 164, 98, 1) 50%, rgba(0, 0, 0, 0) 100%);
			background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(204, 164, 98, 1) 50%, rgba(0, 0, 0, 0) 100%);
			background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(204, 164, 98, 1) 50%, rgba(0, 0, 0, 0) 100%);
		}

		.mi_menu_bm .mi_boa.mi_nav .mi_list {
			list-style-type: none;
			text-align: center;
		}

			.mi_menu_bm .mi_boa.mi_nav .mi_list > li {
				display: inline-block;
				color: rgb(204, 164, 98);
			}

				.mi_menu_bm .mi_boa.mi_nav .mi_list > li.mi_item,
				.mi_menu_bm .mi_boa.mi_nav .mi_list > li.mi_logo {
				}

					.mi_menu_bm .mi_boa.mi_nav .mi_list > li.mi_item > a,
					.mi_menu_bm .mi_boa.mi_nav .mi_list > li.mi_logo {
						padding: 10px 40px;
					}

				.mi_menu_bm .mi_boa.mi_nav .mi_list > li.mi_logo {
					position: relative;
					width: 111px;
				}

					.mi_menu_bm .mi_boa.mi_nav .mi_list > li.mi_logo .mi_plchd {
						visibility: hidden;
					}

				.mi_menu_bm .mi_boa.mi_nav .mi_list > li .mi_vline {
					display: inline-block;
					width: 2px;
					height: 8px;
					vertical-align: middle;
					border-left: 1px dotted;
				}

				.mi_menu_bm .mi_boa.mi_nav .mi_list > li .mi_text_grad_tp {
				}

				.mi_menu_bm .mi_boa.mi_nav .mi_list > li.mi_item > a:hover {
					background-color: rgb(9, 68, 172); /*若不支持渐变，使用这个*/
					background-image: -webkit-radial-gradient(ellipse farthest-corner, rgb(9, 68, 172) 0%, rgb(2, 27, 67) 99%); /*Chrome用这个*/
					background-image: -moz-radial-gradient(ellipse farthest-corner, rgb(9, 68, 172) 0%, rgb(2, 27, 67) 99%); /*FF*/
					/*background-image: -webkit-radial-gradient(ellipse farthest-side, rgb(9, 68, 172) 0%, rgb(2, 27, 67) 99%);*/
					/*background-image: -webkit-linear-gradient(top, rgba(22, 90, 159,1) 0%, rgba(27, 56, 130,1) 100%);
					background-image: -moz-linear-gradient(top, rgba(22, 90, 159,1) 0%, rgba(27, 56, 130,1) 100%);
					background-image: -ms-linear-gradient(top, rgba(22, 90, 159,1) 0%, rgba(27, 56, 130,1) 100%);
					background-image: -o-linear-gradient(top, rgba(22, 90, 159,1) 0%, rgba(27, 56, 130,1) 100%);
					background-image: linear-gradient(top, rgba(22, 90, 159,1) 0%, rgba(27, 56, 130,1) 100%);*/
					/*-webkit-animation-name: mi_menu_bm_item_bkgd;
					-webkit-animation-duration: 3s;
					-webkit-animation-timing-function: ease-out;
					-webkit-animation-iteration-count: infinite;
					-webkit-animation-direction: alternate;
					-webkit-animation-fill-mode: forwards;*/
					-ms-animation: mi_menu_bm_item_bkgd 0.8s ease-out 1 normal 0s forwards; /*IE做动画*/
				}

				/*.mi_menu_bm .mi_boa.mi_nav .mi_list > li.mi_logo .mi_icon:hover {*/
				.mi_menu_bm .mi_boa.mi_nav .mi_list > li.mi_logo .mi_icon.mi_anmt {
					-webkit-animation: mi_menu_bm_logo_spin 1s ease-in-out 1 normal 0s backwards;
					-moz-animation: mi_menu_bm_logo_spin 1s ease-in-out 1 normal 0s backwards;
					-ms-animation: mi_menu_bm_logo_spin 1s ease-in-out 1 normal 0s backwards;
				}

	.mi_menu_bm .mi_boa.mi_foot {
		padding: 4px 5%;
		background-color: rgb(3, 37, 85);
		border-top: 1px solid rgb(1, 54, 106);
		font-size: 12px;
	}

		.mi_menu_bm .mi_boa.mi_foot .mi_col {
		}

			.mi_menu_bm .mi_boa.mi_foot .mi_col.mi_lt {
				width: 70%;
				text-align: left;
			}

			.mi_menu_bm .mi_boa.mi_foot .mi_col.mi_rt {
				width: 30%;
				text-align: right;
			}

/* 其他 */

/*各种动画*/

/*注意这一组动画在不同浏览器里表现不同，IE很好，Chrome糟糕……*/
@-ms-keyframes mi_menu_bm_item_bkgd {
	from {
		background-image: -ms-radial-gradient(ellipse farthest-corner, rgb(9, 68, 172) 0%, rgb(2, 27, 67) 69%);
	}
	/*50% {
		background-color: blue;
	}*/
	to {
		background-image: -ms-radial-gradient(ellipse farthest-corner, rgb(9, 68, 172) 0%, rgb(2, 27, 67) 99%);
	}
}

@-webkit-keyframes mi_menu_bm_logo_spin {
	from {
		-webkit-transform: rotateY(0deg);
	}

	to {
		-webkit-transform: rotateY(360deg);
	}
}

@-moz-keyframes mi_menu_bm_logo_spin {
	from {
		-moz-transform: rotateY(0deg);
	}

	to {
		-moz-transform: rotateY(360deg);
	}
}

@-ms-keyframes mi_menu_bm_logo_spin {
	from {
		-ms-transform: rotateY(0deg);
	}

	to {
		-ms-transform: rotateY(360deg);
	}
}

@-webkit-keyframes mi_bkgd_scl {
	from {
		background-size: 100% 100%;
	}

	to {
		background-size: 110% 110%;
	}
}

@-moz-keyframes mi_bkgd_scl {
	from {
		background-size: 100% 100%;
	}

	to {
		background-size: 110% 110%;
	}
}

@-ms-keyframes mi_bkgd_scl { /*IE竟然不能动画background-size，改用变换*/
	from {
		-ms-transform: scale(1.0);
	}

	to {
		-ms-transform: scale(1.1);
	}
}


/******************************** 正在加载 ********************************/

.mi_loading .mi_btn {
	position: fixed;
	display: block;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: box-shadow 1s;
	-ms-transition: box-shadow 1s;
	/*【调试】*/
	/*border: 1px solid rgb(0, 255, 0);*/
}

	.mi_loading .mi_btn:hover {
		box-shadow: 0px 0px 20px rgb(240, 233, 79);
	}

/******************************** 区位价值＆区位 ********************************/

.mi_qu_wei_jia_zhi .mi_bkgd_anmt,
.mi_qu_wei .mi_bkgd {
	background-image: url("../images/bj-quweijiazhi.jpg");
}

/******************************** 户型鉴赏＆户型 ********************************/

.mi_hu_xing_jian_shang .mi_bkgd_anmt,
.mi_hu_xing .mi_bkgd {
	background-image: url("../images/bj-huxingjianshang.jpg");
}

.mi_hu_xing .mi_appreciate .mi_col {
	width: 50%;
	padding: 2%;
}

	.mi_hu_xing .mi_appreciate .mi_col.mi_0 {
		/*padding-top: 5%;*/
	}

	.mi_hu_xing .mi_appreciate .mi_col.mi_1 {
		padding-right: 10%;
	}

.mi_hu_xing .mi_pane {
	background-color: rgb(64, 64, 64);
	/*-ms-filter: 'alpha(opacity=70)';*/ /*别用了，会把全体变透明*/
	background-color: rgba(255, 255, 255, 0.13);
	/*border: 1px solid;*/
	/*min-width: 50%;*/
	padding: 1px; /*为遮罩预留空间*/
	color: rgb(216, 195, 150);
}

	.mi_hu_xing .mi_pane .mi_ctnt_div {
		padding: 40px;
		width: 420px;
	}

	.mi_hu_xing .mi_pane > .mi_bdr_grad_mask.mi_tp,
	.mi_hu_xing .mi_pane > .mi_bdr_grad_mask.mi_bm {
		/*background-color: rgb(100, 111, 255);*/
		background-image: -webkit-linear-gradient(left, rgba(100, 111, 255, 0.3) 0%, rgba(100, 111, 255, 0.5) 25%, rgba(100, 111, 255, 0.3) 50%, rgba(100, 111, 255, 0.5) 75%, rgba(100, 111, 255, 0.3) 100%);
		background-image: -moz-linear-gradient(left, rgba(100, 111, 255, 0.3) 0%, rgba(100, 111, 255, 0.5) 25%, rgba(100, 111, 255, 0.3) 50%, rgba(100, 111, 255, 0.5) 75%, rgba(100, 111, 255, 0.3) 100%);
		background-image: -ms-linear-gradient(left, rgba(100, 111, 255, 0.3) 0%, rgba(100, 111, 255, 0.5) 25%, rgba(100, 111, 255, 0.3) 50%, rgba(100, 111, 255, 0.5) 75%, rgba(100, 111, 255, 0.3) 100%);
		background-image: -o-linear-gradient(left, rgba(100, 111, 255, 0.3) 0%, rgba(100, 111, 255, 0.5) 25%, rgba(100, 111, 255, 0.3) 50%, rgba(100, 111, 255, 0.5) 75%, rgba(100, 111, 255, 0.3) 100%);
		background-image: linear-gradient(left, rgba(100, 111, 255, 0.3) 0%, rgba(100, 111, 255, 0.5) 25%, rgba(100, 111, 255, 0.3) 50%, rgba(100, 111, 255, 0.5) 75%, rgba(100, 111, 255, 0.3) 100%);
	}

	.mi_hu_xing .mi_pane > .mi_bdr_grad_mask.mi_lt,
	.mi_hu_xing .mi_pane > .mi_bdr_grad_mask.mi_rt {
		/*background-color: rgb(100, 111, 255);*/
		background-image: -webkit-linear-gradient(top, rgba(100, 111, 255, 0.3) 0%, rgba(100, 111, 255, 0.5) 25%, rgba(100, 111, 255, 0.3) 50%, rgba(100, 111, 255, 0.5) 75%, rgba(100, 111, 255, 0.3) 100%);
		background-image: -moz-linear-gradient(top, rgba(100, 111, 255, 0.3) 0%, rgba(100, 111, 255, 0.5) 25%, rgba(100, 111, 255, 0.3) 50%, rgba(100, 111, 255, 0.5) 75%, rgba(100, 111, 255, 0.3) 100%);
		background-image: -ms-linear-gradient(top, rgba(100, 111, 255, 0.3) 0%, rgba(100, 111, 255, 0.5) 25%, rgba(100, 111, 255, 0.3) 50%, rgba(100, 111, 255, 0.5) 75%, rgba(100, 111, 255, 0.3) 100%);
		background-image: -o-linear-gradient(top, rgba(100, 111, 255, 0.3) 0%, rgba(100, 111, 255, 0.5) 25%, rgba(100, 111, 255, 0.3) 50%, rgba(100, 111, 255, 0.5) 75%, rgba(100, 111, 255, 0.3) 100%);
		background-image: linear-gradient(top, rgba(100, 111, 255, 0.3) 0%, rgba(100, 111, 255, 0.5) 25%, rgba(100, 111, 255, 0.3) 50%, rgba(100, 111, 255, 0.5) 75%, rgba(100, 111, 255, 0.3) 100%);
	}

	.mi_hu_xing .mi_pane .mi_ctnt_div .mi_hn {
		padding-bottom: 20px;
		border-bottom: 2px solid rgb(216, 195, 150);
	}

	.mi_hu_xing .mi_pane .mi_ctnt_div .mi_itro {
		font-size: 1.2em;
	}

	.mi_hu_xing .mi_pane .mi_ctnt_div .mi_sumr {
		margin-bottom: 20px;
	}

	.mi_hu_xing .mi_pane .mi_ctnt_div .mi_type_div {
		font-size: 2.4em;
		margin-right: 10px;
	}

	.mi_hu_xing .mi_pane .mi_ctnt_div .mi_list {
		list-style-type: disc;
		font-size: 16px;
		text-align: left;
		height: 142px;
	}

		.mi_hu_xing .mi_pane .mi_ctnt_div .mi_list > li {
			margin-left: 2em;
			margin-bottom: 5px;
		}

	.mi_hu_xing .mi_pane .mi_ctnt_div #k_OptnsBoa {
	}

		.mi_hu_xing .mi_pane .mi_ctnt_div #k_OptnsBoa .mi_icon {
			font-size: 16px;
			padding: 12px;
			margin: 0px 0.5em 1em 0.5em;
			cursor: pointer;
		}

	.mi_hu_xing .mi_pane .mi_ctnt_div #k_BtnsBoa {
	}

		.mi_hu_xing .mi_pane .mi_ctnt_div #k_BtnsBoa .mi_btn {
			margin: 0px 0.5em;
			padding: 5px 10px;
			border-radius: 4px;
			background-color: rgb(78, 124, 188);
			-ms-filter: 'alpha(opacity = 70)';
			background-color: rgba(78, 124, 188, 0.23);
		}

			.mi_hu_xing .mi_pane .mi_ctnt_div #k_BtnsBoa .mi_btn.mi_prsd {
				background-color: rgb(230, 235, 224);
				background-color: rgba(230, 235, 224, 0.23);
			}

.mi_hu_xing #k_Pane {
}

.mi_hu_xing #k_DgrmDiv {
	padding-left: 20px; /*G5这张图需要左边增加一些空间*/
}

/******************************** 景观漫游 ********************************/

.mi_jing_guan_man_you .mi_bkgd_anmt {
	background-image: url("../images/bj-jingguanmanyou.jpg");
}

.mi_jing_guan_man_you #k_BtnsBoa .mi_btn {
	width: 132px;
	height: 132px;
	margin: 0px 10px;
}

/******************************** 楼盘介绍＆介绍 ********************************/

.mi_lou_pan_jie_shao .mi_bkgd_anmt {
	background-image: url("../images/bj-loupanjieshao.jpg");
}

.mi_jie_shao.mi_xiang_mu .mi_bkgd_anmt {
	background-image: url("../images/ny-loupaiBJ01.jpg");
}

.mi_jie_shao.mi_wu_ye_fu_wu .mi_bkgd_anmt {
	background-image: url("../images/ny-loupaiBJ02.jpg");
}

.mi_jie_shao .mi_pane {
	min-width: 500px;
	width: 40%;
	left: 15%;
	top: 30%;
}

	.mi_jie_shao .mi_pane .mi_hn {
		font-size: 2em;
	}

.mi_jie_shao #k_ImgDiv {
	height: 36px;
}

.mi_jie_shao #k_ParaDiv,
.mi_jie_shao .mi_nav_arw_div {
	color: rgb(215, 181, 120);
}

	.mi_jie_shao #k_ParaDiv p {
		line-height: 1.3;
		margin-bottom: 5px;
	}

.mi_jie_shao .mi_nav_arw_div {
	font-size: 2em;
}

.mi_jie_shao #k_LtArw {
	left: 20px;
}

.mi_jie_shao #k_RtArw {
	right: 20px;
}

/******************************** 新闻中心 ********************************/

.mi_xin_wen_zhong_xin {
	background-color: rgb(185, 212, 221);
}

	.mi_xin_wen_zhong_xin .mi_ctnt_div {
		margin: 60px auto 0px auto;
		width: 80%;
		max-width: 1100px;
	}

		.mi_xin_wen_zhong_xin .mi_ctnt_div .mi_main_hdn {
			padding-bottom: 10px;
			border-bottom: 1px solid rgb(0, 44, 102);
			font-size: 2em;
			color: rgb(0, 44, 102);
		}

		.mi_xin_wen_zhong_xin .mi_ctnt_div .mi_english {
			font-size: 0.75em;
		}

/******************************** 项目鸟瞰 ********************************/

.mi_xiang_mu_niao_kan {
	background-color: white;
}

	/*.mi_xiang_mu_niao_kan .mi_ctnt_div > img {
		width: 100%;
		cursor: auto;
	}*/

	.mi_xiang_mu_niao_kan .mi_ctnt_div {
		background-image: url("http://wx.heivr.com/tpl/Home/huiyuan/huxing/zc/nk/0.png");
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;
	}

	.mi_xiang_mu_niao_kan .mi_pnl {
		/*min-height: 100px;
		background-color: rgb(9, 68, 172);
		background-image: -webkit-radial-gradient(center bottom, ellipse farthest-corner, rgb(43, 106, 150) 0%, rgb(17, 36, 102) 100%);
		background-image: -moz-radial-gradient(center bottom, ellipse farthest-corner, rgb(43, 106, 150) 0%, rgb(17, 36, 102) 100%);
		background-image: -ms-radial-gradient(center bottom, ellipse farthest-corner, rgb(43, 106, 150) 0%, rgb(17, 36, 102) 100%);
		background-image: -o-radial-gradient(center bottom, ellipse farthest-corner, rgb(43, 106, 150) 0%, rgb(17, 36, 102) 100%);
		background-image: radial-gradient(center bottom, ellipse farthest-corner, rgb(43, 106, 150) 0%, rgb(17, 36, 102) 100%);*/
		background-image: none;
		background-color: transparent;
	}

	.mi_xiang_mu_niao_kan .mi_img_div,
	.mi_xiang_mu_niao_kan .mi_btn {
		bottom: 30px;
		padding: 0px 20px;
	}

	.mi_xiang_mu_niao_kan .mi_pnl {
		bottom: 150px;
	}

	.mi_xiang_mu_niao_kan .mi_load_pgrs_hint {
		font-size: 1.5em;
		color: rgb(206, 164, 97);
		/*text-shadow: 0px 0px 10px rgb(206, 164, 97);*/
	}

	.mi_xiang_mu_niao_kan .mi_btn {
		right: 1.5em;
	}

/*********************************************************************** Over ***********************************************************************/
