/*	
*
*/


/******************************** 共同 ********************************/

/* 精灵图 */
.mi_icon {
	background-color: transparent;
	background-image: url("../images/sprite.png");
	background-repeat: no-repeat;
	background-size: initial;
	display: inline-block;
}

	.mi_icon.mi_0 {
		background-position: 0px 0px;
		width: 111px;
		height: 98px;
	}

/* html */
html, body {
	width: 100%;
	height: 100%;
}

/* OOCSS */
.mi_rel_pstn {
	position: relative;
	left: 0px;
	right: 0px;
}

.mi_abs_pstn_lt_tp {
	position: absolute;
	left: 0px;
	top: 0px;
}

.mi_abs_pstn_lt_bm {
	position: absolute;
	left: 0px;
	bottom: 0px;
}

.mi_boa .mi_col {
	float: left;
}

/* 本项目的OOCSS */
.mi_nml_font_clo {
	color: rgb(156, 140, 114);
}

/* 布局环境和菜单 */
.mi_lot_env {
	width: 100%;
	height: 100%;
	z-index: 100;
	font-family: 微软雅黑;
	cursor: default;
}

.mi_menu_bm {
	position: fixed;
	width: 100%;
	/*height: 80px;*/
	z-index: 1000;
}

	.mi_menu_bm .mi_boa.mi_nav {
		background-color: rgb(2, 27, 67);
		/*padding: 10px 0px;*/
		border-top: 1px solid;
	}

		.mi_menu_bm .mi_boa.mi_nav .mi_list {
			list-style-type: none;
			text-align: center;
		}

			.mi_menu_bm .mi_boa.mi_nav .mi_list > li {
				display: inline-block;
				padding: 10px 15px;
				color: rgb(204, 164, 98);
			}

				.mi_menu_bm .mi_boa.mi_nav .mi_list > li.mi_main {
					position: relative;
					width: 111px;
					margin: 0px 15px;
					/*border: 1px solid;*/
					padding-left: 0px;
					padding-right: 0px;
					/*padding: 0px;
					height: 100%;*/
				}

				.mi_menu_bm .mi_boa.mi_nav .mi_list > li.mi_main .mi_plchd {
					visibility: hidden;
				}

				.mi_menu_bm .mi_boa.mi_nav .mi_list > li .mi_vline {
					display: inline-block;
					width: 2px;
					height: 8px;
					vertical-align: middle;
					border-left: 1px dotted;
				}

				.mi_menu_bm .mi_boa.mi_nav .mi_list > li:hover {
					background-color: rgb(4, 35, 117); /*若不支持渐变，使用这个*/
					background-image: -webkit-radial-gradient(ellipse farthest-corner, rgb(9, 68, 172) 0%, rgb(2, 27, 67) 99%);

					/*background-image: -webkit-linear-gradient(top, rgba(22, 90, 159,1) 0%, rgba(27, 56, 130,1) 100%);
					background-image: -moz-linear-gradient(top, rgba(22, 90, 159,1) 0%, rgba(27, 56, 130,1) 100%);
					background-image: -ms-linear-gradient(top, rgba(22, 90, 159,1) 0%, rgba(27, 56, 130,1) 100%);
					background-image: -o-linear-gradient(top, rgba(22, 90, 159,1) 0%, rgba(27, 56, 130,1) 100%);
					background-image: linear-gradient(top, rgba(22, 90, 159,1) 0%, rgba(27, 56, 130,1) 100%);*/
				}

	.mi_menu_bm .mi_boa.mi_foot {
		padding: 4px 5%;
		background-color: rgb(3, 37, 85);
		border-top: 1px solid rgb(1, 54, 106);
		font-size: 12px;
	}

		.mi_menu_bm .mi_boa.mi_foot .mi_col {
		}

			.mi_menu_bm .mi_boa.mi_foot .mi_col.mi_lt {
				width: 70%;
				text-align: left;
			}

			.mi_menu_bm .mi_boa.mi_foot .mi_col.mi_rt {
				width: 30%;
				text-align: right;
			}

/* 其他 */
.mi_btn {
	cursor: pointer;
}


/******************************** 正在加载 ********************************/

.mi_loading .mi_btn {
	position: fixed;
	display: block;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	/*【调试】*/
	/*border: 1px solid rgb(0, 255, 0);*/
}

	.mi_loading .mi_btn:hover {
		box-shadow: 0px 0px 20px rgb(240, 233, 79);
	}


/********************************  ********************************/

/*********************************************************************** Over ***********************************************************************/
